<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

{% comment %}
<title>
  {%- if request.page_type == 'password' -%}
    {{- shop.name -}}
  {%- else -%}
    {{- page_title -}}
    {%- if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif -%}
    {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  {%- endif -%}
</title>

{%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
{%- endif -%}

{% endcomment %}

<title>
  {%- if request.page_type == 'password' -%}
    {{- shop.name -}}
  {%- else -%}
    {%- if current_tags.size > 0 and blog_category_seo %}
      {%- assign matched_metaobject = blog_category_seo.objects | where: 'tag_slug', current_tags.first | first -%}
      {%- if matched_metaobject -%}
        {{ matched_metaobject.seo_title | escape }}
      {%- else -%}
        {{ page_title }}
      {%- endif -%}
    {%- else -%}
      {{ page_title }}
      {%- if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif -%}
      {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    {%- endif -%}
  {%- endif -%}
</title>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Log current tags for debugging
    var currentTags = {{ current_tags | json }};
    console.log("Current Tags: ", currentTags);

    {% if current_tags.size > 0 %}
      // Log matched metaobject for debugging
      var matchedMetaObject = {
        seoTitle: "{{ matched_metaobject.seo_title }}",
        seoMeta: "{{ matched_metaobject.seo_meta }}",
        tagSlug: "{{ matched_metaobject.tag_slug }}"
      };
      console.log("Matched Metaobject: ", matchedMetaObject);
    {% else %}
      console.log("No tags present or no metaobject found.");
    {% endif %}
  });
</script>

{%- if current_tags.size > 0 and blog_category_seo %}
  {%- assign matched_metaobject = blog_category_seo.objects | where: 'tag_slug', current_tags.first | first -%}
  {%- if matched_metaobject -%}
    <meta name="description" content="{{ matched_metaobject.seo_meta | escape }}">
  {%- elsif page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
{%- else %}
  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
{%- endif %}


{%- if canonical_url != blank -%}
  <link rel="canonical" href="{{ canonical_url | split: '?' | first }}">
{%- endif -%}

{% if template == 'page' %}
  {% if page.metafields.page.noindex == true %}
    <meta name="robots" content="noindex, nofollow" />
  {% endif %}
{% endif %}

{%- if settings.favicon != blank -%}
  {%- liquid
    assign image_type = settings.favicon | split: '?' | first | split: '.' | last | downcase
    if image_type == 'svg'
      assign image_type = 'svg+xml'
    endif
  -%}
  <link rel="icon" href="{{ settings.favicon | image_url: width: 48, height: 48 }}" type="image/{{ image_type }}">
  <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 180, height: 180 }}">
{%- endif -%}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MedicalOrganization",
  "name": "Ameda",
  "url": "https://www.ameda.com/",
  "logo": "https://www.ameda.com/cdn/shop/files/ameda-logo.webp?v=1703714431&width=200",
  "sameAs": [
    "{{ settings.social_facebook_url }}",
    "{{ settings.social_twitter_url }}",
    "{{ settings.social_instagram_url }}",
    "{{ settings.social_youtube_url }}",
    "https://www.pinterest.com/myameda/_created/",
    "{{ settings.social_tiktok_url }}"
  ]
}
</script>