<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

{% comment %}
<title>
  {%- if request.page_type == 'password' -%}
    {{- shop.name -}}
  {%- else -%}
    {{- page_title -}}
    {%- if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif -%}
    {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  {%- endif -%}
</title>

{%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
{%- endif -%}
{% endcomment %}

<title>
  {%- if request.page_type == 'password' -%}
    {{- shop.name -}}
  {%- else -%}
    {%- if current_tags.size > 0 %}
      {%- assign blogTag = shop.metaobjects['blog_category_seo'].values | where: 'tag_slug', current_tags.first | first -%}
      {%- if blogTag -%}
        {{ blogTag.seo_title | escape }}
      {%- else -%}
        {{ page_title }}
      {%- endif -%}
    {%- else -%}
      {{ page_title }}
      {%- if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif -%}
      {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    {%- endif -%}
  {%- endif -%}
</title>

{% if request.path contains 'thank-you' %}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NS76MQ6Q');</script>
  <!-- End Google Tag Manager -->
{% endif %}

{% if request.path contains '/blogs/posts/tagged/pregnancy' %}
  <meta name="robots" content="noindex, nofollow" />
{% endif %}

{%- if current_tags.size > 0 %}
  {%- assign blogTag = shop.metaobjects['blog_category_seo'].values | where: 'tag_slug', current_tags.first | first -%}
  {%- if blogTag -%}
    <meta name="description" content="{{ blogTag.seo_meta | escape }}">
  {%- elsif page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
{%- else %}
  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
{%- endif %}

{%- if canonical_url != blank -%}
  <link rel="canonical" href="{{ canonical_url | split: '?' | first }}">
{%- endif -%}

{% if template == 'page' %}
  {% if page.metafields.page.noindex == true %}
    <meta name="robots" content="noindex, nofollow" />
  {% endif %}
{% endif %}

{%- if settings.favicon != blank -%}
  {%- liquid
    assign image_type = settings.favicon | split: '?' | first | split: '.' | last | downcase
    if image_type == 'svg'
      assign image_type = 'svg+xml'
    endif
  -%}
  <link rel="icon" href="{{ settings.favicon | image_url: width: 48, height: 48 }}" type="image/{{ image_type }}">
  <link rel="apple-touch-icon" href="{{ settings.favicon | image_url: width: 180, height: 180 }}">
{%- endif -%}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "MedicalOrganization",
  "name": "Ameda",
  "url": "https://www.ameda.com/",
  "logo": "https://www.ameda.com/cdn/shop/files/ameda-logo.webp?v=1703714431&width=200",
  "sameAs": [
    "{{ settings.social_facebook_url }}",
    "{{ settings.social_twitter_url }}",
    "{{ settings.social_instagram_url }}",
    "{{ settings.social_youtube_url }}",
    "https://www.pinterest.com/myameda/_created/",
    "{{ settings.social_tiktok_url }}"
  ]
}
</script>

{% if template == 'collection' %}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "ItemList",
        "name": {{ collection.title | strip_html | strip | json }},
        "description": {{ collection.description | strip_html | strip | json }},
        "numberOfItems": {% assign count = 0 %}{% for product in collection.products %}{% if product.price > 0 %}{% assign count = count | plus: 1 %}{% endif %}{% endfor %}{{ count }},
        "itemListElement": [
            {% assign position = 0 %}
            {% assign total_items = count %}
            {% for product in collection.products %}
            {% if product.price > 0 %}
            {% assign position = position | plus: 1 %}
            {
                "@type": "ListItem",
                "position": {{ position }},
                "item": {
                    "@type": "Product",
                    "name": {{ product.title | strip_html | strip | json }},
                    "url": "{{ product.url }}",
                    "image": "https:{{ product.featured_image | product_img_url: '450x450' }}",
                    "description": {{ product.description | strip_html | strip | json }},
                    "sku": "{{ product.variants.first.sku }}",
                    "mpn": "{{ product.id }}",
                    "brand": {
                        "@type": "Brand",
                        "name": "Ameda"
                    },
                    "offers": {
                        "@type": "Offer",
                        "priceCurrency": "{{ shop.currency }}",
                        "price": "{{ product.price | money_without_currency | remove: ',' }}",
                        "priceValidUntil": "{{ 'now' | date: '%Y-%m-%d' }}",
                        "itemCondition": "https://schema.org/NewCondition",
                        "availability": "https://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
                        "url": "{{ product.url }}"
                    }
                    {% if product.metafields.okendo.summaryData.reviewCount > 0 %}
                    ,"aggregateRating": {
                        "@type": "AggregateRating",
                        "ratingValue": "{{ product.metafields.okendo.summaryData.reviewAverageValue }}",
                        "ratingCount": "{{ product.metafields.okendo.summaryData.reviewCount }}"
                    }
                    {% endif %}
                }
            }
            {% if position != total_items %},{% endif %}
            {% endif %}
            {% endfor %}
        ]
    }
    </script>
{% endif %}
