{% assign instructions = shop.metaobjects.instructions[product.metafields.product.instructions] %}

{% if instructions %}

    <style>
        .product-instruction-card {
            display: flex;
            gap: 2rem;
            background: #fff;
            padding: 1rem;
            border-radius: 1rem;
        }

        .product-instruction-card .instruction-image-wrapper {
            width: 10rem !important;
            min-height: 10rem;
            flex-grow: 0;
        }

        .product-instruction-card .instruction-image-wrapper {
            height: 100%;
            width: 100%;
            object-fit: contain;
            margin: 0;
        }
        .instruction-content-cols {
            display: flex;
            gap: 2rem;
            flex-wrap: wrap;
        }
        .instruction-content-col {
            flex: 1 0 auto;
        }
        .instruction-content-wrapper {
            flex: 1;
        }

        @media (min-width: 450px) {
            .instruction-content-cols > .instruction-content-col ul:first-child {
                column-count: 2;
            }
        }
    </style>

    <h4>Instructions For Use</h4>
    <hr/>
    <div class="product-instruction-card">
        <div class="instruction-image-wrapper">
            <img src="{{ instructions.product_image | image_url }}" />
        </div>

        <div class="instruction-content-wrapper">
            <h6>{{ instructions.name }}</h6>

            <div class="instruction-content-cols">
                <div class="instruction-content-col">
                    {% if instructions.downloads.value.size > 0 %}
                        <p class="m-0"><strong>Downloads</strong></p>
                        <ul class="list-disc">
                            {% for download in instructions.downloads.value %}
                                <li><a href="{{ download.file }}">{{ download.language }} </a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                
                <div class="instruction-content-col">
                    {% if instructions.videos.value.size > 0 %}
                        <p class="m-0"><strong>Videos</strong></p>
                        <ul class="list-disc">
                            {% for video in instructions.videos.value %}
                                <li><a href="{{ video.link }}">{{ video.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endif %}