<style>
.tab-content:not(.active) {
    display: none;
}

.tab-content {
    margin-top: 4rem;
}

.tab-link {
    cursor: pointer;
}

.education-list {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
}

.education-item {
    background: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1rem;
    align-items: center;
    width: calc(33% - 1.75rem);
}

.education-image-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 3 / 2;
    margin-bottom: 1rem;
}

.education-image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.education-video-link {
    width: 100%;
}

.education-item select {
    padding: 0.75em 2em;
    text-align: center;
}

@media (max-width: 991px) {
    .education-item {
        width: calc(50% - 1.75rem);
        flex: 1;
    }
}

</style>

<div class="section section--padded color-scheme">
    <div class="container">
        <div class="education-tabs flex justify-center gap-theme">
            <button class="btn btn--primary tab-link" onclick="openTab(event, 'EducationPDFs')">Education PDFs</button>
            <button class="btn btn--secondary tab-link" onclick="openTab(event, 'HowToVideos')">How To Videos</button>
        </div>
        <div id="EducationPDFs" class="tab-content active">
            <div class="education-list">
                {% for education_pdf in shop.metaobjects.education_pdf.values %}
                    <div class="education-item">
                        <div class="education-image-wrapper">
                            <img src="{{ education_pdf.cover_image |  image_url  }}" />
                        </div>
                        <h3 class="h6">{{ education_pdf.name }}</h3>
                        <select name="{{ education_pdf.name }}">
                            {% if education_pdf.english %}<option value="{{ education_pdf.english }}">English</option>{% endif %}
                            {% if education_pdf.spanish %}<option value="{{ education_pdf.spanish }}">Spanish</option>{% endif %}
                            {% if education_pdf.french %}<option value="{{ education_pdf.french }}">French</option>{% endif %}
                        </select>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="HowToVideos" class="tab-content">
            <div class="education-list">
                {% for education_video in shop.metaobjects.education_video.values %}
                    <div class="education-item">
                        <a class="education-video-link" target="_blank" href="https://www.youtube.com/watch?v={{ education_video.you_tube_id }}">
                            <div class="education-image-wrapper">
                                <img src="http://i3.ytimg.com/vi/{{ education_video.you_tube_id }}/hqdefault.jpg" />
                            </div>
                        </a>
                        <h3 class="h6">{{ education_video.video_title }}</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    function openTab(event, tabId) {
        // Check if the clicked button is 'btn--secondary'
        if (!event.currentTarget.classList.contains('btn--secondary')) {
            return; // Do nothing if it's not a 'btn--secondary' button
        }

        // Get all tab links
        var tabLinks = document.getElementsByClassName('tab-link');
        
        // Loop through tab links to switch classes
        for (var i = 0; i < tabLinks.length; i++) {
            if (tabLinks[i].classList.contains('btn--primary')) {
                tabLinks[i].classList.remove('btn--primary');
                tabLinks[i].classList.add('btn--secondary');
            } else if (tabLinks[i] === event.currentTarget) {
                tabLinks[i].classList.remove('btn--secondary');
                tabLinks[i].classList.add('btn--primary');
            }
        }

        // Hide all tab contents
        var tabContents = document.getElementsByClassName('tab-content');
        for (var i = 0; i < tabContents.length; i++) {
            tabContents[i].classList.remove('active');
        }

        // Show the current tab
        document.getElementById(tabId).classList.add('active');
    }
</script>

{% schema %}
    {
      "name": "Education Tabs",
      "presets": [
        {
          "name": "Education Tabs",
          "category": "Template"
        }
      ]
    }
{% endschema %}