<link rel="stylesheet" href="{{ 'education-tabs.css' | asset_url }}" media="print" onload="this.media='all'">

<style>
    .flex-title {
        display: flex;
        align-items: flex-end;
        gap: 10rem;
        justify-content: space-between;
    }

    .flex-title_content {
        display: flex;
        flex-direction: column;
    }

    .flex-title_button {
        flex: none;
    }
    .education-list {
        margin-top: var(--gutter-md);
    }
    @media (max-width: 768px) {
        .flex-title {
            flex-direction: column;
            gap: 2rem;
            align-items: flex-start;
        }
    }
</style>

<div class="section section--padded">
    <div class="container">
        <div class="flex-title">
            <div class="flex-title_content">
                <h2 class="m-0">{{ section.settings.heading_text }}</h2>
            </div>
            {% if section.settings.show_view_all_button %}
                <div class="flex-title_button">
                    <a href="{{ section.settings.view_all_button_url }}" class="btn btn--primary">
                        {{ section.settings.view_all_button_text }}
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="education-list">
            {% assign block_count = section.blocks.size %}
            {% if block_count > 0 %}
                {% for block in section.blocks %}
                    {% assign education_pdf_key = block.settings.education_pdf_key %}
                    {% assign education_pdf = shop.metaobjects.education_pdf[education_pdf_key] %}
                    {% if education_pdf %}
                        <a href="/pages/education/" class="education-item">
                            <div class="education-image-wrapper">
                                <img src="{{ education_pdf.cover_image |  image_url  }}" />
                            </div>
                            <h3 class="h6">{{ education_pdf.name }}</h3>
                        </a>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% assign default_pdfs = shop.metaobjects.education_pdf.values | limit: 3 %}
                {% for education_pdf in default_pdfs %}
                    <a href="/pages/education/" class="education-item">
                        <div class="education-image-wrapper">
                            <img src="{{ education_pdf.cover_image |  image_url  }}" />
                        </div>
                        <h3 class="h6">{{ education_pdf.name }}</h3>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% schema %}
    {
      "name": "Education PDFs",
      "settings": [
        {
            "type": "text",
            "id": "heading_text",
            "label": "Heading Text",
            "default": "Education PDFs"
        },
        {
            "type": "checkbox",
            "id": "show_view_all_button",
            "label": "Show View All Button?",
            "default": true
        },
        {
            "type": "text",
            "id": "view_all_button_text",
            "label": "Button Text",
            "default": "View All"
        },
        {
            "type": "text",
            "id": "view_all_button_url",
            "label": "Button URL",
            "default": "/pages/education"
        }
      ],
      "blocks": [
        {
          "type": "education_pdf_block",
          "name": "Education PDF Block",
          "settings": [
            {
              "type": "text",
              "id": "education_pdf_key",
              "label": "Education PDF Key"
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Education PDFs",
          "category": "Template"
        }
      ]
    }
{% endschema %}