<style>
.tab-content:not(.active) {
    display: none;
}

.tab-content {
    margin-top: 4rem;
}

.tab-link {
    cursor: pointer;
}

.pdf-list {
    display: flex;
    gap: 3rem;
}

.pdf-item {
    background: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 1rem;
    align-items: center;
}

.pdf-item select {
    padding: 0.75em 2em;
    text-align: center;
}
</style>

<div class="section section--padded color-scheme">
    <div class="container">
        <div class="education-tabs flex justify-center gap-theme">
            <button class="btn btn--primary tab-link" onclick="openTab(event, 'EducationPDFs')">Education PDFs</button>
            <button class="btn btn--secondary tab-link" onclick="openTab(event, 'HowToVideos')">How To Videos</button>
        </div>
        <div id="EducationPDFs" class="tab-content active">
            <div class="pdf-list">
                {% for education_pdf in shop.metaobjects.education_pdf.values %}
                    <div class="pdf-item">
                        <div class="pdf-image-wrapper">
                            <img src="{{ education_pdf.cover_image |  image_url  }}" />
                        </div>
                        <h3 class="h5">{{ education_pdf.name }}</h3>
                        <select name="{{ education_pdf.name }}">
                            {% if education_pdf.english %}<option value="{{ education_pdf.english }}">English</option>{% endif %}
                            {% if education_pdf.spanish %}<option value="{{ education_pdf.spanish }}">Spanish</option>{% endif %}
                            {% if education_pdf.french %}<option value="{{ education_pdf.french }}">French</option>{% endif %}
                        </select>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="HowToVideos" class="tab-content">
            <p>Content for How To Videos.</p>
        </div>
    </div>
</div>

<script>
    function openTab(event, tabId) {
        // Check if the clicked button is 'btn--secondary'
        if (!event.currentTarget.classList.contains('btn--secondary')) {
            return; // Do nothing if it's not a 'btn--secondary' button
        }

        // Get all tab links
        var tabLinks = document.getElementsByClassName('tab-link');
        
        // Loop through tab links to switch classes
        for (var i = 0; i < tabLinks.length; i++) {
            if (tabLinks[i].classList.contains('btn--primary')) {
                tabLinks[i].classList.remove('btn--primary');
                tabLinks[i].classList.add('btn--secondary');
            } else if (tabLinks[i] === event.currentTarget) {
                tabLinks[i].classList.remove('btn--secondary');
                tabLinks[i].classList.add('btn--primary');
            }
        }

        // Hide all tab contents
        var tabContents = document.getElementsByClassName('tab-content');
        for (var i = 0; i < tabContents.length; i++) {
            tabContents[i].classList.remove('active');
        }

        // Show the current tab
        document.getElementById(tabId).classList.add('active');
    }
</script>

{% schema %}
    {
      "name": "Education Tabs",
      "presets": [
        {
          "name": "Education Tabs",
          "category": "Template"
        }
      ]
    }
{% endschema %}