<link rel="stylesheet" href="{{ 'wave-section.css' | asset_url }}" media="print" onload="this.media='all'">

<div style="background:rgba(0,0,0,0)" class="wave-container top" style="z-index: 1;">
    <svg width="1366" height="73" viewBox="0 0 1366 73" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
        <path d="M1366 63.3006C1366 63.3006 1307.73 39.3256 1234.08 42.0626C1162.58 44.7196 1068.01 65.9095 998.451 63.3005C857.076 57.9915 869.736 42.0625 718.35 42.0625C566.964 42.0625 576.75 73.2455 444.576 72.9955C312.402 72.7455 322.644 42.0625 200.92 42.0625C79.196 42.0625 8.47695e-07 63.3005 8.47695e-07 63.3005L6.38156e-06 0.000452785L1366 0.000572205L1366 63.3006Z" fill="{{ section.settings.svg_fill_override }}"></path>
    </svg>
</div>
<div class="section relative section--full-width section--padded-default color-scheme color-scheme--2 baby-pattern" style="padding-bottom: 0;" data-cc-animate="">
    <div class="container">
        <div style="padding-top:4rem;"></div>
        <div class="flex justify-center text-center">
            <div class="text-center" data-cc-animate="">
                <h2 class="section__block section__block--heading h2">{{ settings.footer_cta_title }}</h2>
                <div class="section__block reading-width rte  mx-auto">
                    <p>{{ settings.footer_cta_subtitle }}</p>
                </div>
                <div style="margin:0 auto;" class="pxFormGenerator" id="{{ settings.footer_cta_hulkapp_form_id }}">
                    <iframe src="https://formbuilder.hulkapps.com/corepage/customform?id={{ settings.footer_cta_hulkapp_form_id }}&amp;referrer_url=https://ameda-dev.myshopify.com/" title="Form Builder - {{ settings.footer_cta_hulkapp_form_id }}" id="frame_{{ settings.footer_cta_hulkapp_form_id }}" frameborder="0" width="100%" style="height: 115px;"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Global Footer CTA",
  "presets": [
    {
      "name": "Global Footer CTA",
      "category": "Template"
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "svg_fill_override",
      "label": "Wave Color",
      "default": "#fbf6ef"
    }
  ]
}
{% endschema %}