<link rel="stylesheet" href="{{ 'help-links.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="section section--padded helpful-links">
    <div class="container">
        <h2 class="section__heading text-center{% if section.settings.section_content %}{{ ' mb-0' }}{% endif %}">We're Here For You</h2>
        {% if section.settings.section_content %}<p class="enlarge-text text-center  mb-10">{{ section.settings.section_content }}</p>{% endif %}
        <div class="helpful-links_list">
            {% for block in section.blocks %}
                <div class="helpful-links_item">
                    <div class="helpful-links_item_content left">
                        <h3>{{ block.settings.title }}</h3>
                    </div>
                    <div class="helpful-links_item_content right">
                        <p>{{ block.settings.content }}</p>
                        <a href="{{ block.settings.url }}" class="inline-flex card__collection--arrow">
                            {{ block.settings.link_text }}
                            <span class="has-ltr-icon flex items-center mis-2">{% render 'icon-arrow-right' %}</span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Help Links",
  "presets": [
    {
      "name": "Help Links",
      "category": "Template"
    }
  ],
  "settings": [
    {
      "type": "text",
      "label": "Subtitle Content",
      "id": "section_content"
    }
  ],
  "blocks": [
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "type": "text",
          "label": "Title",
          "id": "title"
        },
        {
          "type": "textarea",
          "label": "Content",
          "id": "content"
        },
        {
          "type": "text",
          "label": "Link Text",
          "id": "link_text"
        },
        {
          "type": "url",
          "label": "Link URL",
          "id": "url"
        }
      ]
    }
  ]
}
{% endschema %}
