<link rel="stylesheet" href="{{ 'instructions-for-use.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="section section--padded color-scheme" style="margin-top: 0; margin-bottom: 0; padding-bottom:0;">
    <div class="container">
        <div class="tabs-wrapper flex justify-center gap-theme flex-wrap">
            {% assign tabs_with_pump = '' %}
            {% assign tabs_without_pump = '' %}
            
            {% for instruction in shop.metaobjects.instructions.values %}
                {% capture tab_name %}{{ instruction.tab_name }}{% endcapture %}
                {% if tab_name == 'Personal Pumps' %}
                    <button class="btn btn--secondary">{{ tab_name }}</button>
                {% elsif tab_name contains 'pump' %}
                    {% assign tabs_with_pump = tabs_with_pump | append: tab_name | append: ',' %}
                {% else %}
                    {% assign tabs_without_pump = tabs_without_pump | append: tab_name | append: ',' %}
                {% endif %}
            {% endfor %}
            
            {% assign sorted_tabs_with_pump = tabs_with_pump | split: ',' | sort %}
            {% assign sorted_tabs_without_pump = tabs_without_pump | split: ',' | sort %}
            
            {% assign all_sorted_tabs = 'Personal Pumps,' | append: sorted_tabs_with_pump | concat: sorted_tabs_without_pump %}
            
            {% for tab_name in all_sorted_tabs %}
                {% if tab_name != '' %}
                    <button class="btn btn--secondary">{{ tab_name }}</button>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="section section--padded" style="margin-top: 0; padding-top:0;">
    <div class="container">
        <div class="instructions-index">
            {% for instruction in shop.metaobjects.instructions.values %}
                <div class="instruction-item" tabName="{{ instruction.tab_name }}">
                    <div class="instruction-image-wrapper">
                        <img src="{{ instruction.product_image |  image_url }}" />
                    </div>
                    <h3 class="h5 m-0">{{ instruction.name }}</h3>
                    {% if instruction.downloads.value.size > 0 %}
                        <p class="instruction-dd-label">Downloads</p>
                        <select name="{{ instruction.name }}-downloads">
                            <option>Select Download</option>
                            {% for download in instruction.downloads.value %}
                                <option value="{{ download.file }}">{{ download.language }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                    {% if instruction.videos.value.size > 0 %}
                        <p class="instruction-dd-label">Video</p>
                        <select name="{{ instruction.name }}-videos">
                            <option>Select Video</option>
                            {% for video in instruction.videos.value %}
                                <option value="{{ video.link }}">{{ video.title }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>


<script src="{{ 'instructions-for-use.js' | asset_url }}" defer="defer"></script>


{% schema %}
    {
      "name": "Instructions For Use",
      "presets": [
        {
          "name": "Instructions For Use",
          "category": "Template"
        }
      ]
    }
{% endschema %}