<link rel="stylesheet" href="{{ 'instructions-for-use.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="section section--padded color-scheme" style="margin-bottom: 0; padding-bottom:0;">
    <div class="container">
        <div class="tabs-wrapper flex justify-center gap-theme">
            {% assign used_tab_names = '' %}
            {% for instruction in shop.metaobjects.instructions.values %}
                {% unless used_tab_names contains instruction.tab_name %}
                    <button class="btn btn--secondary">{{ instruction.tab_name }}</button>
                    {% capture used_tab_names %}{{ used_tab_names }}{{ instruction.tab_name }},{% endcapture %}
                {% endunless %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="section section--padded" style="margin-top: 0; padding-top:0;">
    <div class="container">
        <div class="instructions-index">
            {% for instruction in shop.metaobjects.instructions.values %}
                <div class="instruction-item">
                    <div class="instruction-image-wrapper">
                        <img src="{{ instruction.product_image |  image_url }}" />
                    </div>
                    <h3 class="h5 m-0">{{ instruction.name }}</h3>
                    {% if instruction.downloads.value.size > 0 %}
                        <p class="instruction-dd-label">Downloads</p>
                        <select>
                            <option>Select Download</option>
                            {% for download in instruction.downloads.value %}
                                <option value="{{ download.file }}">{{ download.language }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                    {% if instruction.videos.value.size > 0 %}
                        <p class="instruction-dd-label">Video</p>
                        <select>
                            <option>Select Video</option>
                            {% for video in instruction.videos.value %}
                                <option value="{{ video.link }}">{{ video.title }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% comment %} <script src="{{ 'instructions-for-use.js' | asset_url }}" defer="defer"></script> {% endcomment %}


{% schema %}
    {
      "name": "Instructions For Use",
      "presets": [
        {
          "name": "Instructions For Use",
          "category": "Template"
        }
      ]
    }
{% endschema %}