<link rel="stylesheet" href="{{ 'instructions-for-use.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="section section--padded color-scheme" style="margin-top: 0; margin-bottom: 0; padding-bottom:0;">
    <div class="container">
        <div class="tabs-wrapper flex justify-center gap-theme flex-wrap">
            {% assign used_tab_names = '' %}
            {% assign custom_tabs = 'Personal Pumps,Multi-User Pumps,Pump Parts & Accessories,' %}
            {% for instruction in shop.metaobjects.instructions.values %}
                {% unless used_tab_names contains instruction.tab_name %}
                    {% capture used_tab_names %}{{ used_tab_names }}{{ instruction.tab_name }},{% endcapture %}
                {% endunless %}
            {% endfor %}
            
            {% assign sorted_tabs = used_tab_names | split: ',' | sort %}
            
            <button class="btn btn--secondary">Personal Pumps</button>
            <button class="btn btn--secondary">Multi-User Pumps</button>
            <button class="btn btn--secondary">Pump Parts & Accessories</button>
            
            {% for tab_name in sorted_tabs %}
                {% unless tab_name == 'Personal Pumps' or tab_name == 'Multi-User Pumps' or tab_name == 'Pump Parts & Accessories' %}
                    <button class="btn btn--secondary">{{ tab_name }}</button>
                {% endunless %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="section section--padded" style="margin-top: 0; padding-top:0;">
    <div class="container">
        <div class="instructions-index">
            {% for instruction in shop.metaobjects.instructions.values %}
                <div class="instruction-item" tabName="{{ instruction.tab_name }}" sort="{{ instruction.sort_order }}" id="{{ instruction.product_hash_route }}">
                    <div class="instruction-image-wrapper">
                        <img 
                          src="{{ instruction.product_image |  image_url }}" 
                          width="{{ instruction.product_image.width }}" 
                          height="{{ instruction.product_image.height }}" 
                          alt="{{ instruction.product_image.alt | escape }}" 
                        />
                    </div>
                    <h3 class="h5 m-0">{{ instruction.name }}</h3>
                    {% if instruction.downloads.value.size > 0 %}
                        <p class="instruction-dd-label">Downloads</p>
                        <select name="{{ instruction.name }}-downloads">
                            <option>Select Download</option>
                            {% for download in instruction.downloads.value %}
                                <option value="{{ download.file }}">{{ download.language }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                    {% if instruction.videos.value.size > 0 %}
                        <p class="instruction-dd-label">Video</p>
                        <select name="{{ instruction.name }}-videos">
                            <option>Select Video</option>
                            {% for video in instruction.videos.value %}
                                <option value="{{ video.link }}">{{ video.title }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>


<script src="{{ 'instructions-for-use-2.js' | asset_url }}" defer="defer"></script>


{% schema %}
    {
      "name": "Instructions For Use",
      "presets": [
        {
          "name": "Instructions For Use",
          "category": "Template"
        }
      ]
    }
{% endschema %}