{% comment %} <link rel="stylesheet" href="{{ 'instructions-for-use.css' | asset_url }}" media="print" onload="this.media='all'"> {% endcomment %}

<style>
    .instructions-index {
        display: flex;
        gap: 3rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    .instructions-item {
        background: #fff;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-radius: 1rem;
        align-items: center;
        width: calc(33% - 1.75rem);
    }
    .instruction-image-wrapper {
        position: relative;
        width: 100%;
        aspect-ratio: 1 / 1;
        margin-bottom: 1rem;
        border-radius: .75rem;
        overflow: hidden;
    }

    .instruction-image-wrapper img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
    }

    @media (max-width: 991px) {
        .instructions-item {
            width: calc(50% - 1.75rem);
        }
    }
</style>

<div class="section section--padded">
    <div class="container">
        <div class="instructions-index">
            {% for instruction in shop.metaobjects.instructions.values %}
                <div class="instruction-item">
                    <div class="instruction-image-wrapper">
                        <img src="{{ instruction.product_image |  image_url }}" />
                    </div>
                    <h3 class="h5">{{ instruction.name }}</h3>
                    <p>Downloads</p>
                    <select>
                        <option>Select Download</option>
                        {% for download in instruction.downloads.value %}
                            <option value="{{ download.file }}">{{ download.language }}</option>
                        {% endfor %}
                    </select>
                    <p>Video</p>
                    <select>
                        <option>Select Video</option>
                        {% for video in instruction.videos.value %}
                            <option value="{{ video.link }}">{{ video.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% comment %} <script src="{{ 'instructions-for-use.js' | asset_url }}" defer="defer"></script> {% endcomment %}


{% schema %}
    {
      "name": "Instructions For Use",
      "presets": [
        {
          "name": "Instructions For Use",
          "category": "Template"
        }
      ]
    }
{% endschema %}