<style>
  .distributor-locations {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.distributor-location {
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;
    flex: 0;
    min-width: calc(25% - 1.5rem);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.distributor-location-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.distributor-location * {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.distributor-location-content a:not(.btn) {
  color: var(--heading-color);
  font-weight: bold;
  display: flex;
  gap: .5em;
  font-size: .75em;
}

.distributor-location-content a:not(.btn):hover {
  text-decoration: underline;
}

.distributor-location-content a:not(.btn) svg {
  height: 1em;
  width: auto;
  object-fit: contain;
  transform: translateY(0.25em);
}

.distributor-location .country {
  text-transform: uppercase;
  font-weight: bold;
}
</style>

<div class="section section--padding">
  <div class="container">
    <div class="distributor-locations">
      {% assign sorted_distributors = shop.metaobjects.international_distributors.values | sort: 'country' %}
      {% for international_distributor in sorted_distributors %}        
        <div class="distributor-location">
          <div class="distributor-location-content">
            {% if international_distributor.country %}
              <p class="country">{{ international_distributor.country }}</p>
            {% endif %}

            {% if international_distributor.company %}
              <h5>{{ international_distributor.company }}</h5>
            {% endif %}

            {% if international_distributor.address %}
              <span>{{ international_distributor.address | metafield_tag }}</span>
            {% endif %}
            <hr/>

            {% if international_distributor.phone_numbers.value != blank %}
              {% for phone_number in international_distributor.phone_numbers.value %}
                <a href="tel:{{ phone_number }}">{% render 'icon-phone' %} {{ phone_number }}</a>
              {% endfor %}
            {% endif %}
            
            {% if international_distributor.email != blank %}
              {% for email in international_distributor.email.value %}
                <a href="mailto:{{ email }}">{% render 'icon-mail' %} {{ email }}</a>
              {% endfor %}
            {% endif %}
          </div>

          <div class="distributor-location-content">
            {% if international_distributor.link %}
              {% assign link_has_http = international_distributor.link | contains: "http://" %}
              {% assign link_has_https = international_distributor.link | contains: "https://" %}
            
              {% if link_has_http or link_has_https %}
                <a class="btn btn--primary" href="{{ international_distributor.link }}" target="_blank">Visit Website</a>
              {% else %}
                <a class="btn btn--primary" href="http://{{ international_distributor.link }}" target="_blank">Visit Website</a>
              {% endif %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Intl. Distributors",
  "presets": [
    {
      "name": "Intl. Distributors",
      "category": "Template"
    }
  ]
}
{% endschema %}
