<div class="section section--padding">
  <div class="container">
    <div class="distributor-locations">
      {% for international_distributor in shop.metaobjects.international_distributors.values %}
        <div class="distributor-location">
          {% if international_distributor.company %}
            <h3 class="h5">{{ international_distributor.company }}</h3>
          {% endif %}

          {% if international_distributor.country %}
            <p>{{ international_distributor.country }}</p>
          {% endif %}

          {% if international_distributor.address %}
            {{ international_distributor.address | metafield_tag }}
          {% endif %}

          {% if international_distributor.phone_numbers != blank %}
            {% for phone_number in international_distributor.phone_numbers | split: ',' %}
              {% assign trimmed_phone_number = phone_number | strip %}
              <a href="tel:{{ trimmed_phone_number }}">{{ trimmed_phone_number }}</a>
            {% endfor %}
          {% endif %}
          
          {% if international_distributor.email != blank %}
            {% for email in international_distributor.email | split: ',' %}
              {% assign trimmed_email = email | strip %}
              <a href="mailto:{{ trimmed_email }}">{{ trimmed_email }}</a>
            {% endfor %}
          {% endif %}

          {% if international_distributor.link %}
            <a class="btn btn--primary" href="{{ international_distributor.link }}" target="_blank">Visit Website</a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Intl. Distributors",
  "presets": [
    {
      "name": "Intl. Distributors",
      "category": "Template"
    }
  ]
}
{% endschema %}
