<style>
  .distributor-locations {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.distributor-location {
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;
    flex: 0;
    min-width: calc(25% - 1.5rem);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.distributor-location-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.distributor-location * {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
.distributor-location .country {
  text-transform: uppercase;
  font-weight: bold;
}
</style>

<div class="section section--padding">
  <div class="container">
    <div class="distributor-locations">
      {% for international_distributor in shop.metaobjects.international_distributors.values %}
        <div class="distributor-location">


          <div class="distributor-location-content">
            {% if international_distributor.country %}
              <p class="country">{{ international_distributor.country }}</p>
            {% endif %}
            {% if international_distributor.company %}
              <h5>{{ international_distributor.company }}</h5>
            {% endif %}
            {% if international_distributor.address %}
              {{ international_distributor.address | metafield_tag }}
            {% endif %}
            <hr/>
          </div>

          <div class="distributor-location-content">
  
            {% if international_distributor.phone_numbers.value != blank %}
              {% for phone_number in international_distributor.phone_numbers.value %}
                <a href="tel:{{ phone_number }}">{{ phone_number }}</a>
              {% endfor %}
            {% endif %}
            
            {% if international_distributor.email != blank %}
              {% for email in international_distributor.email.value %}
                <a href="mailto:{{ email }}">{{ email }}</a>
              {% endfor %}
            {% endif %}
  
            {% if international_distributor.link %}
              <a class="btn btn--primary" href="{{ international_distributor.link }}" target="_blank">Visit Website</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Intl. Distributors",
  "presets": [
    {
      "name": "Intl. Distributors",
      "category": "Template"
    }
  ]
}
{% endschema %}
