<link rel="stylesheet" href="{{ 'latest-posts.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="section section--padded latest-posts">
    <div class="container">
        <div class="flex-title">
            <div class="flex-title_content">
                <h2>{{ section.settings.title | default: "Latest Posts" }}</h2>
                <p class="m-0">{{ section.settings.description | default: "Everything breastfeeding and breast pumping. We have educational material written by IBCLCs, great articles spanning all topics baby, and The Village blog posts from moms just like you." }}</p>
            </div>
            <div class="flex-title_button">
                <a href="/blog" class="btn btn--primary">
                    All Posts
                </a>
            </div>
        </div>
        <div class="flex-posts">
            {% for post in blogs['your-blog-handle'].articles limit:4 %}
                <div class="post-item">
                    <div class="post-item_image">
                        <img src="{{ post.image.src | default: 'https://placehold.co/1000' }}" alt="{{ post.image.alt | default: '' }}">
                    </div>
                    <div class="post-item_content">
                        <div class="post-item_category"><span>{{ post.tags.first }}</span></div>
                        <h3 class="post-item_title two-line-clamp">{{ post.title }}</h3>
                        <p class="post-item_excerpt two-line-clamp m-0">
                            {{ post.excerpt | default: '' }}
                        </p>
                        <div class="post-item_button">
                            <a href="{{ post.url }}" class="link">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Latest Posts",
  "presets": [
    {
      "name": "Latest Posts",
      "category": "Template"
    }
  ],
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title",
      "default": "Latest Posts"
    },
    {
      "type": "textarea",
      "label": "Description",
      "id": "description",
      "default": "Everything breastfeeding and breast pumping. We have educational material written by IBCLCs, great articles spanning all topics baby, and The Village blog posts from moms just like you."
    }
  ]
}
{% endschema %}