<link rel="stylesheet" href="{{ 'latest-posts.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="section section--padded latest-posts">
    <div class="container">
        {% if section.settings.top_content_visible %}
            <div class="flex-title">
                <div class="flex-title_content">
                    <h2>{{ section.settings.title | default: "Latest Posts" }}</h2>
                    {% if section.settings.description %}<p class="m-0">{{ section.settings.description }}</p>{% endif %}
                </div>
                <div class="flex-title_button">
                    <a href="/blogs/posts/" class="btn btn--primary">
                        All Posts
                    </a>
                </div>
            </div>
        {% endif %}
        <div class="flex-posts">
            {% assign tag = section.settings.blog_tag %}
            {% assign articles_count = 0 %}
            {% if tag != blank %}
                {% for article in blogs['posts'].articles %}
                    {% if article.tags contains tag %}
                        {% if articles_count < 4 %}
                            <div class="post-item">
                                <div class="post-item_image">
                                    <a href="{{ article.url }}">
                                        <img src="{{ article.image | article_img_url: 'large' }}" alt="{{ article.image.alt | default: '' }}">
                                    </a>
                                </div>
                                <div class="post-item_content">
                                    <a href="/blogs/posts/tagged/{{ article.tags.first | handle }}" class="post-item_category"><span>{{ article.tags.first }}</span></a>
                                    <h3 class="h4 post-item_title two-line-clamp">{{ article.title }}</h3>
                                    <p class="post-item_excerpt two-line-clamp m-0">
                                        {{ article.excerpt | default: '' }}
                                    </p>
                                    <div class="post-item_button">
                                        <a href="{{ article.url }}" class="link" style="font-weight:bold;">Read More</a>
                                    </div>
                                </div>
                            </div>
                            {% assign articles_count = articles_count | plus: 1 %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for article in blogs['posts'].articles limit:4 %}
                    <div class="post-item">
                        <div class="post-item_image">
                            <a href="{{ article.url }}">
                                <img src="{{ article.image | article_img_url: 'large' }}" alt="{{ article.image.alt | default: '' }}">
                            </a>
                        </div>
                        <div class="post-item_content">
                            <a href="/blogs/posts/tagged/{{ article.tags.first | handle }}" class="post-item_category"><span>{{ article.tags.first }}</span></a>
                            <h3 class="h4 post-item_title two-line-clamp">{{ article.title }}</h3>
                            <p class="post-item_excerpt two-line-clamp m-0">
                                {{ article.excerpt | default: '' }}
                            </p>
                            <div class="post-item_button">
                                <a href="{{ article.url }}" class="link" style="font-weight:bold;">Read More</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>


{% schema %}
    {
      "name": "Latest Posts",
      "presets": [
        {
          "name": "Latest Posts",
          "category": "Template"
        }
      ],
      "settings": [
        {
          "type": "text",
          "label": "Title",
          "id": "title",
          "default": "Latest Posts"
        },
        {
          "type": "textarea",
          "label": "Description",
          "id": "description",
          "default": "Everything breastfeeding and breast pumping. We have educational material written by IBCLCs, great articles spanning all topics baby, and The Village blog posts from moms just like you."
        },
        {
            "type": "checkbox",
            "id": "top_content_visible",
            "label": "Top Content Visible?",
            "default": true
        },
        {
          "type": "text",
          "label": "Blog Tag",
          "id": "blog_tag"
        }
      ]
    }
{% endschema %}