<link rel="stylesheet" href="{{ 'latest-posts.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="section section--padded latest-posts">
    <div class="container">
        <div class="flex-title">
            <div class="flex-title_content">
                <h2>{{ section.settings.title | default: "Latest Posts" }}</h2>
                <p class="m-0">{{ section.settings.description | default: "Everything breastfeeding and breast pumping. We have educational material written by IBCLCs, great articles spanning all topics baby, and The Village blog posts from moms just like you." }}</p>
            </div>
            <div class="flex-title_button">
                <a href="/blog" class="btn btn--primary">
                    All Posts
                </a>
            </div>
        </div>
        <div class="flex-posts">
            {% for article in blogs['news'].articles limit:4 %}
                <div class="post-item">
                    <div class="post-item_image">
                        <script>console.log('{{article}}')</script>
                        <img src="{{ article.featured_image.src }}" alt="{{ article.image.alt | default: '' }}">
                    </div>
                    <div class="post-item_content">
                        <div class="post-item_category"><span>{{ article.tags.first }}</span></div>
                        <h3 class="post-item_title two-line-clamp">{{ article.title }}</h3>
                        <p class="post-item_excerpt two-line-clamp m-0">
                            {{ article.excerpt | default: '' }}
                        </p>
                        <div class="post-item_button">
                            <a href="{{ article.url }}" class="link">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Latest Posts",
  "presets": [
    {
      "name": "Latest Posts",
      "category": "Template"
    }
  ],
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title",
      "default": "Latest Posts"
    },
    {
      "type": "textarea",
      "label": "Description",
      "id": "description",
      "default": "Everything breastfeeding and breast pumping. We have educational material written by IBCLCs, great articles spanning all topics baby, and The Village blog posts from moms just like you."
    }
  ]
}
{% endschema %}