<link rel="stylesheet" href="{{ 'store-locator.css' | asset_url }}" media="print" onload="this.media='all'">

{% assign us_locations = shop.metaobjects.store_locations["us-locations"].all.value %}
{% assign state_provinces = us_locations | map: 'state_province' %}
{% assign unique_sorted_states = state_provinces | uniq | sort %}

{% assign global_locations = shop.metaobjects.store_locations["global-locations"].all.value %}
{% assign global_countries = global_locations | map: 'country' %}


<div class="section section--padding">
  <div class="container">
    <p class="text-center h4" style="margin-bottom: calc(10 * var(--space-unit));">E is for Elites, P is for Platinums, LE is for LACT-E, EPP is for EPP, and SMB is for SMB.</p>
    <div class="country-selector">
      <div class="country active"><span>🇺🇸 USA</span></div>
      <div class="country"><span>🌐 Global</span></div>
    </div>
    <div class="find-us-locations">
      <p class="text-center"><strong>FIND BY STATE/PROVINCE:</strong></p>
      <ul class="state-selector" id="stateList">
        {% assign unique_sorted_states = state_provinces | uniq | sort %}
        {% for state in unique_sorted_states %}
          {% if state != blank %}
            <li class="state-link"><a href="#{{ state }}">{{ state }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="find-global-locations hidden">
      <p class="text-center"><strong>FIND BY COUNTRY:</strong></p>
      <ul class="state-selector">
        {% for country in global_countries %}
          {% if country != blank %}
            <li class="state-link"><a href="#{{ country }}">{{ country }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="section section--padding" id="us-results">
  <div class="container">
    <div class="store-locations">
          {% assign current_state = '' %}
          {% assign is_first_item = true %}
          {% for store_location in us_locations %}
          {% if current_state != store_location.state_province %}
            {% assign current_state = store_location.state_province %}
            {% assign is_first_item = true %}
          {% endif %}
          <div class="store-location" {% if is_first_item %}id="{{ current_state | strip }}"{% assign is_first_item = false %}{% endif %}>
            <div class="location-content">
                <h3 class="store-title h5">{{ store_location.title }}</h3>
            
                {% if store_location.short_description != '' %}
                  <div class="popover-wrapper">
                    <span class="short-desc">{{ store_location.short_description }}</span>
                    {% if store_location.rentals != '' %}<span class="short-desc">{{ store_location.rentals }}</span>{% endif %}
                    {% if store_location.description != '' %}
                      <div class="popover-content">
                        <span>{{ store_location.description }}</span>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
                
                <p class="mb-0">
                  {% if store_location.address != '' %}{{ store_location.address }}{% endif %}
                    <br>
                  {% if store_location.city != '' %} {{ store_location.city }}{% endif %}
                  {% if store_location.state_province != '' %} {{ store_location.state_province }}{% endif %}
                  {% if store_location.zip != '' %} {{ store_location.zip }}{% endif %}
                  <br>
                  {% if store_location.country != '' %} {{ store_location.country }}{% endif %}
                </p>
            </div>
        
            <div class="location-content">
              {% if store_location.email != '' %}
                {% assign emails = store_location.email | split: ',' %}
                {% for email in emails %}
                  <a class="link-with-icon btn btn--primary" href="mailto:{{ email | strip }}">
                    {% render 'icon-mail' %} {{ email | strip }}
                  </a>
                {% endfor %}
              {% endif %}
            
              {% if store_location.phone_number != '' %}
                {% assign phone_numbers = store_location.phone_number | split: ',' %}
                {% for phone_number in phone_numbers %}
                  <a class="link-with-icon btn btn--primary" href="tel:{{ phone_number | strip }}">
                    {% render 'icon-phone' %} {{ phone_number | strip }}
                  </a>
                {% endfor %}
              {% endif %}
        
              {% if store_location.website != '' %}
                <a class="link-with-icon btn btn--primary" target="_blank" href="{{ store_location.website }}">{% render 'icon-link' %} Visit Website</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>
<div class="section section--padding hidden" id="global-results">
  <div class="container">
    <div class="store-locations">
          {% assign current_country = '' %}
          {% assign is_first_item = true %}
          {% for global_location in global_locations %}
          {% if current_country != global_location.country %}
            {% assign current_country = global_location.country %}
            {% assign is_first_item = true %}
          {% endif %}
          <div class="store-location" {% if is_first_item %}id="{{ current_country | strip }}"{% assign is_first_item = false %}{% endif %}>
            <div class="location-content">
                <h3 class="store-title h5">{{ global_location.title }}</h3>
            
                {% if global_location.short_description != '' %}
                  <div class="popover-wrapper">
                    <span class="short-desc">{{ global_location.short_description }}</span>
                    {% if global_location.rentals != '' %}<span class="short-desc">{{ global_location.rentals }}</span>{% endif %}
                    {% if global_location.description != '' %}
                      <div class="popover-content">
                        <span>{{ global_location.description }}</span>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
                
                <p class="mb-0">
                  {% if global_location.address != '' %}{{ global_location.address }}{% endif %}
                    <br>
                  {% if global_location.city != '' %} {{ global_location.city }}{% endif %}
                  {% if global_location.state_province != '' %} {{ global_location.state_province }}{% endif %}
                  {% if global_location.zip != '' %} {{ global_location.zip }}{% endif %}
                  <br>
                  {% if global_location.country != '' %} {{ global_location.country }}{% endif %}
                </p>
            </div>
        
            <div class="location-content">
              {% if global_location.email != '' %}
                {% assign emails = global_location.email | split: ',' %}
                {% for email in emails %}
                  <a class="link-with-icon btn btn--primary" href="mailto:{{ email | strip }}">
                    {% render 'icon-mail' %} {{ email | strip }}
                  </a>
                {% endfor %}
              {% endif %}
            
              {% if global_location.phone_number != '' %}
                {% assign phone_numbers = global_location.phone_number | split: ',' %}
                {% for phone_number in phone_numbers %}
                  <a class="link-with-icon btn btn--primary" href="tel:{{ phone_number | strip }}">
                    {% render 'icon-phone' %} {{ phone_number | strip }}
                  </a>
                {% endfor %}
              {% endif %}
        
              {% if global_location.website != '' %}
                <a class="link-with-icon btn btn--primary" target="_blank" href="{{ global_location.website }}">{% render 'icon-link' %} Visit Website</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Locations",
  "presets": [
    {
      "name": "Locations",
      "category": "Template"
    }
  ]
}
{% endschema %}