<link rel="stylesheet" href="{{ 'store-locator.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="section section--padding">
  <div class="container">
    <p class="text-center h4">E is for Elites, P is for Platinums. Other is everything else.</p>
    <ul class="state-selector" id="stateList">
      <li><strong>FIND BY STATE:</strong></li>
      {% assign unique_states = '' | split: ',' %}
      {% for block in section.blocks %}
        {% assign state_province = block.settings.state_province %}
        {% unless unique_states contains state_province %}
          <button class="state-link">{{ state_province }}</button>
          {% assign unique_states = unique_states | join: ',' | append: ',' | append: state_province | split: ',' %}
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
</div>


{% assign product_locations = 
[
  {
    "title": "Mothers Choice Products",
    "description": "",
    "short_description": "",
    "address": "11871 Horseshoe Way, Richmond, BC V7A 5H5, Canada",
    "website": "http://www.motherschoiceproducts.com",
    "email": "info@motherschoiceproducts.com",
    "phone_number": "1-800-604-6225 or 60",
    "country": "CA",
    "state_province": "AB",
    "city": "",
    "zip": ""
  },
  {
    "title": "Amedex Web S.R.L.",
    "description": "",
    "short_description": "",
    "address": "Unnamed Road, Vlădeni, Romania",
    "website": "http://www.mamagazin.ro",
    "email": "contact@mamagazin.ro",
    "phone_number": " +40 729 509 509",
    "country": "RO",
    "state_province": "AB",
    "city": "",
    "zip": ""
  },
  {
    "title": " Midmed Pty Ltd",
    "description": "",
    "short_description": "",
    "address": "",
    "website": "http://www.midmed.com.au",
    "email": "ameda@midmed.com.au",
    "phone_number": "61733489155",
    "country": "AU",
    "state_province": "ACT",
    "city": "Queensland",
    "zip": "4172"
  },
  {
    "title": "Nufer Medical AG",
    "description": "",
    "short_description": "",
    "address": "Morgenstrasse 148, 3018 Bern, Switzerland",
    "website": "http://www.nufer-medical.ch",
    "email": "Info@nufer-medical.ch",
    "phone_number": " +41 31 958 66 66",
    "country": "CH",
    "state_province": "AG",
    "city": "",
    "zip": ""
  },
  {
    "title": "Hudson Pharmacy & Surgical",
    "description": "Platinum",
    "short_description": "P",
    "address": "40 Spring Street",
    "website": "https://hudsonpharmacyandsurgical.com/",
    "email": "",
    "phone_number": "(914) 941-4476",
    "country": "US",
    "state_province": "AL",
    "city": "Ossining",
    "zip": "10562"
  },
  {
    "title": "United Medical Trade Company",
    "description": "",
    "short_description": "",
    "address": "3400 SW 20th St, Hallandale Beach, FL 33009, USA",
    "website": "",
    "email": "helen.kim@umtc.com",
    "phone_number": " +1 954-889-0568",
    "country": "US",
    "state_province": "AL",
    "city": "FL",
    "zip": "33023"
  },
  {
    "title": "Jolly Technocrats",
    "description": "",
    "short_description": "",
    "address": "Nehru Pl Market Rd, Nehru Place, New Delhi, Delhi 110019, India",
    "website": "http://jollytechnocrats.in/",
    "email": "jollytechnocrats@gmail.com, myamedain@gmail.com",
    "phone_number": "0091-46066071",
    "country": "IN",
    "state_province": "AN",
    "city": "New Delhi",
    "zip": "110019"
  },
  {
    "title": "Serenity Feeding Supplies",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "3 Oakwood Dr.",
    "website": "http://www.serenityfeeding.com",
    "email": "",
    "phone_number": "(480) 239-1866",
    "country": "US",
    "state_province": "AZ",
    "city": "Chandler",
    "zip": "85248"
  },
  {
    "title": "Modern Mommy Boutique",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "3355 W. Chandler Blvd.",
    "website": "http://modernmommyboutique.com",
    "email": "",
    "phone_number": "(480) 857-7187",
    "country": "US",
    "state_province": "AZ",
    "city": "Chandler",
    "zip": "85226"
  },
  {
    "title": " MedCare Visions GmbH",
    "description": "",
    "short_description": "",
    "address": "Franz-Lehner-Straße 3, 85716 Unterschleißheim, Germany",
    "website": "http://www.medcarevisions.de",
    "email": "info@medcarevisions.de",
    "phone_number": " +49 (0) 89 2000433-0",
    "country": "DE",
    "state_province": "BAW",
    "city": "",
    "zip": ""
  },
  {
    "title": "Eumedics Medizintechnik GmbH",
    "description": "",
    "short_description": "",
    "address": "Scheringgasse 2, 1140 Wien, Austria",
    "website": "http://www.eumedics.at",
    "email": "office@eumedics.at",
    "phone_number": "4315773560",
    "country": "AT",
    "state_province": "BL",
    "city": "Wien",
    "zip": "A-1140"
  },
  {
    "title": "DayOne Baby",
    "description": "Platinum",
    "short_description": "P",
    "address": "3548 Sacramento St",
    "website": "http://www.dayonebaby.com",
    "email": "",
    "phone_number": "(415) 813-1931",
    "country": "US",
    "state_province": "CA",
    "city": "San Francisco",
    "zip": "94118"
  },
  {
    "title": "O'Connor Hospital",
    "description": "Elite",
    "short_description": "E",
    "address": "2105 Forest Ave",
    "website": "",
    "email": "",
    "phone_number": "(408) 947-2743",
    "country": "US",
    "state_province": "CA",
    "city": "San Jose",
    "zip": "95128"
  },
  {
    "title": "Healthy Horizons Peninsula Breastfeeding Center",
    "description": "Platinum",
    "short_description": "P",
    "address": "1432 Burlingame Avenue",
    "website": "http://www.hh-bc.com/",
    "email": "",
    "phone_number": "(650) 347-MILK",
    "country": "US",
    "state_province": "CA",
    "city": "Burlingame",
    "zip": "94010"
  },
  {
    "title": "DayOne Baby Palo Alto",
    "description": "Platinum",
    "short_description": "P",
    "address": "552 Waverley Street",
    "website": "http://www.dayonebaby.com",
    "email": "",
    "phone_number": "(650) 646-7644",
    "country": "US",
    "state_province": "CA",
    "city": "Palo Alto",
    "zip": "94301"
  },
  {
    "title": "Healthy Beginnings",
    "description": "Elite",
    "short_description": "E",
    "address": "345 Tachevah Ste 2",
    "website": "",
    "email": "",
    "phone_number": "(760) 416-4754",
    "country": "US",
    "state_province": "CA",
    "city": "Palm Springs",
    "zip": "92262"
  },
  {
    "title": "Growing With Baby",
    "description": "Elite/Platinum LACT E",
    "short_description": "E/P LACT-E",
    "address": "1230 Marsh",
    "website": "",
    "email": "",
    "phone_number": "(805) 543-6988",
    "country": "US",
    "state_province": "CA",
    "city": "San Luis Obispo",
    "zip": "93401"
  },
  {
    "title": "San Ramon Regional Medical",
    "description": "Elite",
    "short_description": "E",
    "address": "6001 Norris Canyon Road",
    "website": "",
    "email": "",
    "phone_number": "(925) 275-8296",
    "country": "US",
    "state_province": "CA",
    "city": "San Ramon",
    "zip": "94583"
  },
  {
    "title": "Healthlinks Torrance Memorial Medical Center",
    "description": "Platinum",
    "short_description": "P",
    "address": "3330 Lomita Blvd",
    "website": "",
    "email": "",
    "phone_number": "(310) 517-4711",
    "country": "US",
    "state_province": "CA",
    "city": "Torrance",
    "zip": "90505"
  },
  {
    "title": "Community Memorial Hospital Breastfeeding Resource Center",
    "description": "Elite, Platinum",
    "short_description": "E, P",
    "address": "2580 E. Main St. Ste. 101",
    "website": "",
    "email": "",
    "phone_number": "(805) 948-2229",
    "country": "US",
    "state_province": "CA",
    "city": "Ventura",
    "zip": "93003"
  },
  {
    "title": "Bosom Buddies",
    "description": "Platinum",
    "short_description": "P",
    "address": "5684 W 88th Ave, Westminster",
    "website": "",
    "email": "",
    "phone_number": "(720) 482-0109",
    "country": "US",
    "state_province": "CO",
    "city": "Denver",
    "zip": "80031"
  },
  {
    "title": "Georgetown Loris Gifts",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "3800 Reservoir Rd Nw",
    "website": "",
    "email": "store.0134@lorisgifts.com",
    "phone_number": "(202) 444-4181",
    "country": "US",
    "state_province": "DC",
    "city": "Washington",
    "zip": "20007"
  },
  {
    "title": "Georgetown University Hospital",
    "description": "Platinum",
    "short_description": "P",
    "address": "3800 Reservoir Rd Nw,",
    "website": "",
    "email": "",
    "phone_number": "(202) 444-6455",
    "country": "US",
    "state_province": "DC",
    "city": "Washington",
    "zip": "20007"
  },
  {
    "title": "The Breastfeeding Center For Greater Washington Inc",
    "description": "Platinum",
    "short_description": "P",
    "address": "2141 K St Nw",
    "website": "",
    "email": "",
    "phone_number": "(202) 293-5182",
    "country": "US",
    "state_province": "DC",
    "city": "Washington",
    "zip": "20037"
  },
  {
    "title": "Wellington Regional Medical Center",
    "description": "",
    "short_description": "",
    "address": "10101 Forest Hill Road",
    "website": "",
    "email": "",
    "phone_number": "(561) 798-8664",
    "country": "US",
    "state_province": "FL",
    "city": "West Palm Beach",
    "zip": "33414"
  },
  {
    "title": "Pill Box Pharmacy",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "1932 Weston Rd.",
    "website": "",
    "email": "",
    "phone_number": "(954) 389-7455",
    "country": "US",
    "state_province": "FL",
    "city": "Weston",
    "zip": "33326"
  },
  {
    "title": "Florida Hospital Celebration Health",
    "description": "Elite",
    "short_description": "E",
    "address": "400 Celebration Place",
    "website": "",
    "email": "",
    "phone_number": "(407) 303-4195",
    "country": "US",
    "state_province": "FL",
    "city": "Celebration",
    "zip": "34747"
  },
  {
    "title": "Florida Hospital Lactation Center",
    "description": "Elite",
    "short_description": "E",
    "address": "601 E. Rollins St",
    "website": "",
    "email": "",
    "phone_number": "(407) 303-7650",
    "country": "US",
    "state_province": "FL",
    "city": "Orlando",
    "zip": "32803"
  },
  {
    "title": "Hollywood Discount Pharmacy",
    "description": "Elite",
    "short_description": "E",
    "address": "1150 N. 35Th Avenue",
    "website": "",
    "email": "",
    "phone_number": "(954) 432-7455",
    "country": "US",
    "state_province": "FL",
    "city": "Hollywood",
    "zip": "33021"
  },
  {
    "title": "Boca Raton Regional Hospital",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "800 Meadows Rd.",
    "website": "",
    "email": "",
    "phone_number": "(561) 955-5415",
    "country": "US",
    "state_province": "FL",
    "city": "Boca Raton",
    "zip": "33486"
  },
  {
    "title": "Baptist Hospital Of Miami Lactation Services",
    "description": "Elite",
    "short_description": "E",
    "address": "8900 N. Kendall Drive",
    "website": "",
    "email": "",
    "phone_number": "(786) 596-6766",
    "country": "US",
    "state_province": "FL",
    "city": "Miami",
    "zip": "33176"
  },
  {
    "title": "Pill Box Pharmacy Pembroke Pines Terrance",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "1700 Nw 122Nd Terrace",
    "website": "",
    "email": "",
    "phone_number": "(954) 432-7455",
    "country": "US",
    "state_province": "FL",
    "city": "Pembroke Pines",
    "zip": "33026"
  },
  {
    "title": "Pill Box Pharmacy Flamingo",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "601 N. Flamingo Road",
    "website": "http://www.pillbox123.com",
    "email": "",
    "phone_number": "(954) 437-7455",
    "country": "US",
    "state_province": "FL",
    "city": "Pembroke Pines",
    "zip": "33028"
  },
  {
    "title": "Lori's Gift Shop at Winnie Plamer Hospital for Woman and Babies",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "83 W Miller Street",
    "website": "",
    "email": "",
    "phone_number": "(321) 841-1653",
    "country": "US",
    "state_province": "FL",
    "city": "Orlando",
    "zip": "32806"
  },
  {
    "title": "Lori's Gift Shop at Southlake Hospital",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "1900 Don Wickham Drive",
    "website": "",
    "email": "",
    "phone_number": "(352) 394-4071",
    "country": "US",
    "state_province": "FL",
    "city": "Clermont",
    "zip": "34711"
  },
  {
    "title": "Pill Box Pharmacy West",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "17529 Pines Boulevard",
    "website": "",
    "email": "",
    "phone_number": "(954) 443-7455",
    "country": "US",
    "state_province": "FL",
    "city": "Pembroke Pines",
    "zip": "33029"
  },
  {
    "title": "Florida Home Medical and Equipment Supplies",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "4700 Lb McLeod Road",
    "website": "",
    "email": "",
    "phone_number": "(407) 843-2777",
    "country": "US",
    "state_province": "FL",
    "city": "Orlando",
    "zip": "32811"
  },
  {
    "title": "A Womans Place at Tallahassee Memorial Hospital",
    "description": "Platinum",
    "short_description": "P",
    "address": "1301 E 6TH Avenue",
    "website": "",
    "email": "",
    "phone_number": "(850) 431-4928",
    "country": "US",
    "state_province": "FL",
    "city": "Tallahassee",
    "zip": "32303"
  },
  {
    "title": "Lactation Station",
    "description": "",
    "short_description": "",
    "address": "6819 Broken Arrow Trail South",
    "website": "",
    "email": "herdsnerds@gmail.com",
    "phone_number": "(863) 640-0117",
    "country": "US",
    "state_province": "FL",
    "city": "Lakeland",
    "zip": "33813"
  },
  {
    "title": "Nancy Habif",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "546 Cresthill Ave NE",
    "website": "",
    "email": "",
    "phone_number": "(404) 326-9003",
    "country": "US",
    "state_province": "GA",
    "city": "Atlanta",
    "zip": "30306"
  },
  {
    "title": "Little Five Points Pharmacy",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "484 Moreland Ave. N.E.",
    "website": "",
    "email": "",
    "phone_number": "(404) 524-4466",
    "country": "US",
    "state_province": "GA",
    "city": "Atlanta",
    "zip": "30307"
  },
  {
    "title": "Lactation Consultants Of Atlanta - Marietta",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "2141 Kinston CT SE Suite 103",
    "website": "https://breastfeedingatlanta.com/",
    "email": "ibclc@breastfeedingatlanta.com",
    "phone_number": "(770) 644-0555",
    "country": "US",
    "state_province": "GA",
    "city": "Marietta",
    "zip": "30067"
  },
  {
    "title": "Breastfeed Atlanta",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "575 Boulevard SE",
    "website": "",
    "email": "",
    "phone_number": "(404) 454-9715",
    "country": "US",
    "state_province": "GA",
    "city": "Atlanta",
    "zip": "30312"
  },
  {
    "title": "Concord Pharmacy",
    "description": "Elite",
    "short_description": "E",
    "address": "5485 Chamblee Dunwoody Rd.",
    "website": "",
    "email": "",
    "phone_number": "(770) 394-3233",
    "country": "US",
    "state_province": "GA",
    "city": "Dunwoody",
    "zip": "30338"
  },
  {
    "title": "Apex Pharmacy",
    "description": "Platinum",
    "short_description": "P",
    "address": "1240 Hwy 54 West, Bldg 100 Suite 101",
    "website": "",
    "email": "",
    "phone_number": "",
    "country": "US",
    "state_province": "GA",
    "city": "Fayetteville",
    "zip": "30214"
  },
  {
    "title": "Lactation Consultants of Atlanta - Jonesboro",
    "description": "Elite/Platinum",
    "short_description": "",
    "address": "9152 Endicott Place",
    "website": "www.breastfeedingatlanta.com",
    "email": "ibclc@breastfeedingatlanta.com",
    "phone_number": "813-382-864",
    "country": "US",
    "state_province": "GA",
    "city": "Jonesboro",
    "zip": "30236"
  },
  {
    "title": "Sharon Birdseye RN, IBCLC; Lactation Consultants Of Atlanta",
    "description": "E/P",
    "short_description": "E/P",
    "address": "2141 Kingston Court, SE",
    "website": "https://breastfeedingatlanta.com",
    "email": "",
    "phone_number": "(770) 644-0555",
    "country": "US",
    "state_province": "GA",
    "city": "Marietta",
    "zip": "30067"
  },
  {
    "title": "Hawaii Mother'S Milk",
    "description": "Platinum",
    "short_description": "P",
    "address": "1319 Punahou Street",
    "website": "",
    "email": "",
    "phone_number": "(808) 947-6920",
    "country": "US",
    "state_province": "HI",
    "city": "Honolulu",
    "zip": "96826"
  },
  {
    "title": "Mark Drug",
    "description": "Elite",
    "short_description": "E",
    "address": "384 E Irving Park Rd",
    "website": "",
    "email": "",
    "phone_number": "(630) 529-3400",
    "country": "US",
    "state_province": "IL",
    "city": "Roselle",
    "zip": "60172"
  },
  {
    "title": "Mark Drug Medical Supply",
    "description": "Platinum",
    "short_description": "P",
    "address": "548A West Dundee Rd",
    "website": "https://www.markdrugmedicalsupply.com",
    "email": "",
    "phone_number": "(847) 537-8500",
    "country": "US",
    "state_province": "IL",
    "city": "Wheeling",
    "zip": "60090"
  },
  {
    "title": "Elmhurst Memorial Hospital",
    "description": "Platinum",
    "short_description": "P",
    "address": "155 E. BRUSH HILL RD",
    "website": "",
    "email": "",
    "phone_number": "(331) 221-5433",
    "country": "US",
    "state_province": "IL",
    "city": "ELMHURST",
    "zip": "60129"
  },
  {
    "title": "Breastfeeding Support Services",
    "description": "Platinum",
    "short_description": "P",
    "address": "302 Chesapeake Lane",
    "website": "",
    "email": "",
    "phone_number": "(618) 346-1919",
    "country": "US",
    "state_province": "IL",
    "city": "Collinsville",
    "zip": "62234"
  },
  {
    "title": "Edward Hospital",
    "description": "Platinum",
    "short_description": "P",
    "address": "801 S. Washington St.",
    "website": "https://www.edward.org",
    "email": "",
    "phone_number": "(630) 527-3000",
    "country": "US",
    "state_province": "IL",
    "city": "Naperville",
    "zip": "60540"
  },
  {
    "title": "Rush-Copley Medical Center",
    "description": "Platinum",
    "short_description": "P",
    "address": "2000 Ogden Ave",
    "website": "",
    "email": "",
    "phone_number": "(630) 978-6235",
    "country": "US",
    "state_province": "IL",
    "city": "Aurora",
    "zip": "60504"
  },
  {
    "title": "Lori'S Gifts At Advocate Illinois Masonic Medical Center",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "836 W. Wellington Ave",
    "website": "http://www.lorisgifts.com",
    "email": "",
    "phone_number": "(773) 296-5966",
    "country": "US",
    "state_province": "IL",
    "city": "Chicago",
    "zip": "60657"
  },
  {
    "title": "Zen & Now At Advocate Lutheran General Hospital",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "1775 Dempster St.",
    "website": "http://www.lorisgifts.com",
    "email": "",
    "phone_number": "(847) 723-0877",
    "country": "US",
    "state_province": "IL",
    "city": "Park Ridge",
    "zip": "60068"
  },
  {
    "title": "St. Alexius Medical Center",
    "description": "Platinum",
    "short_description": "P\t",
    "address": "1555 Barrington Road",
    "website": "",
    "email": "",
    "phone_number": "(847) 755-7600",
    "country": "US",
    "state_province": "IL",
    "city": "Hoffman Estates",
    "zip": "60194"
  },
  {
    "title": "Healthy Babies Happy Families",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "8267 W. Golf Road",
    "website": "http://www.healthybabiesinc.com",
    "email": "",
    "phone_number": "(847) 583-0499",
    "country": "US",
    "state_province": "IL",
    "city": "Niles",
    "zip": "60714"
  },
  {
    "title": "Alexian Brothers Med Ctr",
    "description": "Elite",
    "short_description": "E",
    "address": "800 W Biesterfield Road",
    "website": "",
    "email": "",
    "phone_number": "(847) 437-5500",
    "country": "US",
    "state_province": "IL",
    "city": "Elk Grove Village",
    "zip": "60007"
  },
  {
    "title": "Jessa Medical Supply",
    "description": "Platinum",
    "short_description": "P",
    "address": "112 Market Street",
    "website": "http://www.jessamedical.com",
    "email": "",
    "phone_number": "(301) 990-8706",
    "country": "US",
    "state_province": "MD",
    "city": "Gaithersburg",
    "zip": "20878"
  },
  {
    "title": "Anne Arundel Medical Center",
    "description": "",
    "short_description": "",
    "address": "2001 Medical Parkway",
    "website": "https://www.aahs.org/birth/lactation.php",
    "email": "",
    "phone_number": "(443)481-6977",
    "country": "US",
    "state_province": "MD",
    "city": "Annapolis",
    "zip": "21401"
  },
  {
    "title": "GBMC",
    "description": "Platinum/LACT-E",
    "short_description": "P/LACT-E",
    "address": "6701 North Charles St",
    "website": "",
    "email": "",
    "phone_number": "(443) 849-2229",
    "country": "US",
    "state_province": "MD",
    "city": "Baltimore",
    "zip": "21204"
  },
  {
    "title": "Frederick Memorial Hospital",
    "description": "Elite",
    "short_description": "E",
    "address": "400 West Seventh Street",
    "website": "",
    "email": "",
    "phone_number": "(240) 566-3880",
    "country": "US",
    "state_province": "MD",
    "city": "Frederick",
    "zip": "21701"
  },
  {
    "title": "Northern Rexall Pharmacy",
    "description": "Elite",
    "short_description": "E",
    "address": "6701 Harford Road",
    "website": "",
    "email": "",
    "phone_number": "(410) 254-2055",
    "country": "US",
    "state_province": "MD",
    "city": "Baltimore",
    "zip": "21234"
  },
  {
    "title": "Mom and Baby Shop",
    "description": "Platinum",
    "short_description": "P",
    "address": "43000 W. 9 Mile Rd.",
    "website": "http://www.momandbabyshop.com",
    "email": "",
    "phone_number": "(313) 444-2229",
    "country": "US",
    "state_province": "MI",
    "city": "Novi",
    "zip": "48375"
  },
  {
    "title": "St. John Providence Park Hospital",
    "description": "Elite",
    "short_description": "Not doing rentals",
    "address": "47601 Grand River Ave.",
    "website": "",
    "email": "",
    "phone_number": "(248) 465-3887",
    "country": "US",
    "state_province": "MI",
    "city": "Novi",
    "zip": "48374"
  },
  {
    "title": "Binson'S Home Health Care Center",
    "description": "Elite",
    "short_description": "Not doing rentals",
    "address": "30475 N. Woodward Ave.",
    "website": "",
    "email": "",
    "phone_number": "(248) 288-0440",
    "country": "US",
    "state_province": "MI",
    "city": "Royal Oak",
    "zip": "48073"
  },
  {
    "title": "Providence Hospital Breastfeeding Assistance Program",
    "description": "Elite",
    "short_description": "E\t",
    "address": "16001 West Nine Mile Road",
    "website": "",
    "email": "",
    "phone_number": "(248) 849-2799",
    "country": "US",
    "state_province": "MI",
    "city": "Southfield",
    "zip": "48075"
  },
  {
    "title": "Kangaroo Kids",
    "description": "Platinum/Elite",
    "short_description": "P/E",
    "address": "10030 Manchester Rd.",
    "website": "http://www.kangarookidsonline.com",
    "email": "",
    "phone_number": "(314) 835-9200",
    "country": "US",
    "state_province": "MO",
    "city": "St. Louis",
    "zip": "63122"
  },
  {
    "title": "Kilgore'S Medical Pharmacy",
    "description": "Elite",
    "short_description": "E",
    "address": "1608 Chapel Hill Rd",
    "website": "",
    "email": "",
    "phone_number": "(573) 447-4444",
    "country": "US",
    "state_province": "MO",
    "city": "Columbia",
    "zip": "65203"
  },
  {
    "title": "Triangle Lactation Consultants",
    "description": "Platinum",
    "short_description": "p",
    "address": "1875 Carrington Dr",
    "website": "http://www.trianglelactation.com",
    "email": "",
    "phone_number": "(919) 845-8826",
    "country": "US",
    "state_province": "NC",
    "city": "Raleigh",
    "zip": "27615"
  },
  {
    "title": "Atlantic City Regional Medical Center",
    "description": "Elite",
    "short_description": "E",
    "address": "65 W Jimmie Leeds RD",
    "website": "",
    "email": "",
    "phone_number": "(609) 404-3837",
    "country": "US",
    "state_province": "NJ",
    "city": "Galloway",
    "zip": "8205"
  },
  {
    "title": "Mary Lou Moramarco",
    "description": "Elite",
    "short_description": "E",
    "address": "380 Line Rd.",
    "website": "",
    "email": "",
    "phone_number": "(732) 239-7771",
    "country": "US",
    "state_province": "NJ",
    "city": "Holmdell",
    "zip": "7733"
  },
  {
    "title": "Sunray Medical",
    "description": "Elite",
    "short_description": "E",
    "address": "1151 Highway 35",
    "website": "",
    "email": "",
    "phone_number": "(732) 671-1200",
    "country": "US",
    "state_province": "NJ",
    "city": "Middletown",
    "zip": "7748"
  },
  {
    "title": "PPD Home Care Inc",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "101 Mantua Blvd.",
    "website": "",
    "email": "",
    "phone_number": "(888) 432-4400",
    "country": "US",
    "state_province": "NJ",
    "city": "Mantua",
    "zip": "8051"
  },
  {
    "title": "Overlook Hospital",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "99 Beauvoir Ave.",
    "website": "",
    "email": "",
    "phone_number": "(908) 522-2229",
    "country": "US",
    "state_province": "NJ",
    "city": "Summit",
    "zip": "7901"
  },
  {
    "title": "Hunterdon Medical Center",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "2100 Wescott Dr.",
    "website": "",
    "email": "",
    "phone_number": "(908) 788-6335",
    "country": "US",
    "state_province": "NJ",
    "city": "Flemington",
    "zip": "8822"
  },
  {
    "title": "Brazen Lingerie",
    "description": "",
    "short_description": "Not doing rentals",
    "address": "5000 Broadway",
    "website": "http://www.brazenlingerie.com",
    "email": "",
    "phone_number": "(212) 567-5563",
    "country": "US",
    "state_province": "NY",
    "city": "New York City",
    "zip": "10034"
  },
  {
    "title": "Yummy Mummy",
    "description": "",
    "short_description": "E",
    "address": "1201 Lexington",
    "website": "http://www.yummymummystore.com",
    "email": "",
    "phone_number": "(212) 879-8669",
    "country": "US",
    "state_province": "NY",
    "city": "New York City",
    "zip": "10028"
  },
  {
    "title": "Lauren G. Macaluso Md Faap Ibclc Pc",
    "description": "Elite",
    "short_description": "E",
    "address": "1575 Hillside Avenue",
    "website": "http://www.macalusomedical.com",
    "email": "",
    "phone_number": "(516) 498-2300",
    "country": "US",
    "state_province": "NY",
    "city": "New Hyde Park",
    "zip": "11040"
  },
  {
    "title": "United Health Services at Wilson Hospital",
    "description": "EPP",
    "short_description": "EPP",
    "address": "33-57 Harrison St",
    "website": "",
    "email": "",
    "phone_number": "(607) 763-5951",
    "country": "US",
    "state_province": "NY",
    "city": "Johnson City",
    "zip": "13790"
  },
  {
    "title": "Bellies And Babies Inc.",
    "description": "Platinum",
    "short_description": "P",
    "address": "8 Kenwood St.",
    "website": "http://www.belliesandbabies.org",
    "email": "",
    "phone_number": "(631) 487-7133",
    "country": "US",
    "state_province": "NY",
    "city": "East Serauket",
    "zip": "11733"
  },
  {
    "title": "Worldwide Surgical Equipment Inc.",
    "description": "",
    "short_description": "E",
    "address": "2165 East 21 Street",
    "website": "http://www.worldwidesurgical.com",
    "email": "",
    "phone_number": "(718) 648-8130",
    "country": "US",
    "state_province": "NY",
    "city": "Brooklyn",
    "zip": "11229"
  },
  {
    "title": "The Baby'S Den",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "3015 Avenue J",
    "website": "http://www.babysden.com",
    "email": "",
    "phone_number": "(718) 676-1748",
    "country": "US",
    "state_province": "NY",
    "city": "Brooklyn",
    "zip": "11210"
  },
  {
    "title": "Charmar Pharmacy",
    "description": "SMB",
    "short_description": "Not doing rentals",
    "address": "781 Lydig Ave",
    "website": "",
    "email": "",
    "phone_number": "(718) 822-1348",
    "country": "US",
    "state_province": "NY",
    "city": "Bronx",
    "zip": "10462"
  },
  {
    "title": "New Baby New Paltz",
    "description": "Elite",
    "short_description": "E",
    "address": "15 Plattekill Ave.",
    "website": "http://newbabynewpaltz.com",
    "email": "",
    "phone_number": "(845) 750-4402",
    "country": "US",
    "state_province": "NY",
    "city": "New Platz",
    "zip": "12561"
  },
  {
    "title": "The Shop At Full Circle",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "1241 Mamaroneck Ave",
    "website": "http://www.fullcirclefamilycare.com",
    "email": "",
    "phone_number": "(914) 421-1500 #21",
    "country": "US",
    "state_province": "NY",
    "city": "White Plains",
    "zip": "10605"
  },
  {
    "title": "Robert Jacobson Pharmacy",
    "description": "Platinum",
    "short_description": "P",
    "address": "359 East Main St",
    "website": "",
    "email": "",
    "phone_number": "(914)241-4887",
    "country": "US",
    "state_province": "NY",
    "city": "Mount Kisco",
    "zip": "10549"
  },
  {
    "title": "NYU Langone Parent Education",
    "description": "",
    "short_description": "",
    "address": "660 1st Ave",
    "website": "",
    "email": "",
    "phone_number": "(212) 263-7201",
    "country": "US",
    "state_province": "NY",
    "city": "New York City",
    "zip": "10016"
  },
  {
    "title": "The Modern Chemists",
    "description": "",
    "short_description": "E",
    "address": "191 4th Avenue",
    "website": "",
    "email": "",
    "phone_number": "(718) 369-6100",
    "country": "US",
    "state_province": "NY",
    "city": "Brooklyn",
    "zip": "11217"
  },
  {
    "title": "Lori's Gifts Richmond university medical Center",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "355 Bard Ave",
    "website": "",
    "email": "",
    "phone_number": "(718) 818-4439",
    "country": "US",
    "state_province": "NY",
    "city": "Staten Island",
    "zip": "10310"
  },
  {
    "title": "Northern Westchester Prescription Center",
    "description": "Elite",
    "short_description": "E\t",
    "address": "19 E. Main St",
    "website": "",
    "email": "",
    "phone_number": "(914) 666-4467",
    "country": "US",
    "state_province": "NY",
    "city": "Mount Kisco",
    "zip": "10549"
  },
  {
    "title": "Scarpa Pharmacy",
    "description": "Elite",
    "short_description": "E",
    "address": "6216 11Th Avenue",
    "website": "",
    "email": "",
    "phone_number": "(718) 745-5499",
    "country": "US",
    "state_province": "NY",
    "city": "Brooklyn",
    "zip": "11219"
  },
  {
    "title": "NYU Langone Parent Eduducaiton ",
    "description": "E",
    "short_description": "E",
    "address": "660 1st Ave ",
    "website": "https://www.nyubaby.org",
    "email": "",
    "phone_number": "(212) 263-7201",
    "country": "US",
    "state_province": "NY",
    "city": "New York City",
    "zip": "10016"
  },
  {
    "title": "Mom & Me Boutique Center For Women'S Health",
    "description": "Elite/Platinum/SMB",
    "short_description": "E/P",
    "address": "2121 Hughes Drive",
    "website": "http://www.Promedica.org",
    "email": "",
    "phone_number": "(419) 291-5666",
    "country": "US",
    "state_province": "OH",
    "city": "Toledo",
    "zip": "43606"
  },
  {
    "title": "Bernens Convalescent Pharmacy Inc.",
    "description": "Elite/SMB",
    "short_description": "Not doing rentals",
    "address": "5053 Glenway Avenue",
    "website": "",
    "email": "",
    "phone_number": "(513) 471-7575",
    "country": "US",
    "state_province": "OH",
    "city": "Cincinnati",
    "zip": "45238"
  },
  {
    "title": "Mercy Pharmacy - Physicians Tower",
    "description": "",
    "short_description": "",
    "address": "4300 W. Memorial Road",
    "website": "",
    "email": "",
    "phone_number": "(405) 752-3631",
    "country": "US",
    "state_province": "OK",
    "city": "Oklahoma City",
    "zip": "73120"
  },
  {
    "title": "Luna Lactation",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "1906 NW 25th Ave Unit #10",
    "website": "http://www.lunalactation.com/",
    "email": "",
    "phone_number": "(360) 830-MILK",
    "country": "US",
    "state_province": "OR",
    "city": "Portland",
    "zip": "98661"
  },
  {
    "title": "Breastfeeding Resource Center",
    "description": "Elite",
    "short_description": "E",
    "address": "1355 Old York Road",
    "website": "",
    "email": "",
    "phone_number": "(215) 886-2433",
    "country": "US",
    "state_province": "PA",
    "city": "Suite 101 Abington",
    "zip": "19001"
  },
  {
    "title": "Lactation Station & More",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "142 Route 611",
    "website": "http://www.lactationstationandmore.com",
    "email": "",
    "phone_number": "(570) 350-7327",
    "country": "US",
    "state_province": "PA",
    "city": "Bartonsville",
    "zip": "18372"
  },
  {
    "title": "Gateway Pharmacy",
    "description": "Elite",
    "short_description": "E",
    "address": "165 Nutt Rd",
    "website": "http://www.thegatewaypharmacy.com",
    "email": "",
    "phone_number": "(610) 933-2609",
    "country": "US",
    "state_province": "PA",
    "city": "Phoenixville",
    "zip": "19460"
  },
  {
    "title": "Mommy Gear",
    "description": "Platinum",
    "short_description": "P",
    "address": "107 S. St. Clair Street",
    "website": "",
    "email": "",
    "phone_number": "(724) 238-9633",
    "country": "US",
    "state_province": "PA",
    "city": "Lingonier",
    "zip": "15658"
  },
  {
    "title": "Medical Home Care",
    "description": "Elite",
    "short_description": "E",
    "address": "202 Conestoga Road",
    "website": "",
    "email": "",
    "phone_number": "(610) 687-6585",
    "country": "US",
    "state_province": "PA",
    "city": "Wayne",
    "zip": "19087"
  },
  {
    "title": "Paoli Apothecary At Paoli Hospital",
    "description": "Platinum",
    "short_description": "P",
    "address": "255 W Lancaster Ave",
    "website": "",
    "email": "",
    "phone_number": "(610) 251-2295",
    "country": "US",
    "state_province": "PA",
    "city": "Paoli",
    "zip": "19301"
  },
  {
    "title": "Breastfeeding Center Of Pittsburgh Beechwood",
    "description": "Elite",
    "short_description": "E",
    "address": "4070 Beechwood Blvd",
    "website": "",
    "email": "",
    "phone_number": "(412) 246-4726",
    "country": "US",
    "state_province": "PA",
    "city": "Pittsburgh",
    "zip": "15217"
  },
  {
    "title": "Breastfeeding Center Of Pittsburgh",
    "description": "Elite",
    "short_description": "E",
    "address": "850 Clairton Blvd",
    "website": "",
    "email": "",
    "phone_number": "(412) 246-4726",
    "country": "US",
    "state_province": "PA",
    "city": "Pittsburgh",
    "zip": "15236"
  },
  {
    "title": "Carolina Breast Pump",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "1090-D Johnny Dodds Blvd.",
    "website": "https://www.carolinabreastpump.com/",
    "email": "",
    "phone_number": "843/754-1187",
    "country": "US",
    "state_province": "SC",
    "city": "Mount Pleasant",
    "zip": "29464"
  },
  {
    "title": "TIENDAS SINDICALES",
    "description": "",
    "short_description": "",
    "address": "14001 Mines Rd, Laredo, TX 78045, USA",
    "website": "",
    "email": "ivonneE@tiendassindicales.com  /  purchasing@tiendassindicales.com",
    "phone_number": "1-210-805-8931",
    "country": "MX",
    "state_province": "TAM",
    "city": "Texas",
    "zip": "78045"
  },
  {
    "title": "A31521 Medical Center-Medical",
    "description": "E/LACT E",
    "short_description": "E/LACT E",
    "address": "1061 West Forest Ave.",
    "website": "https://www.wth.org/services/medical-products/equipment-and-supplies/",
    "email": "",
    "phone_number": "(731) 664-4305",
    "country": "US",
    "state_province": "TN",
    "city": "Jackson",
    "zip": "38301"
  },
  {
    "title": "A75425 Sweetwater Hospital",
    "description": "E/P/SMB",
    "short_description": "E/P/SMB",
    "address": "304 Wright Street",
    "website": "https://sweetwaterhospital.org",
    "email": "",
    "phone_number": "(865) 213-8200",
    "country": "US",
    "state_province": "TN",
    "city": "Sweetwater",
    "zip": "37874"
  },
  {
    "title": "Christus Spohn South - Gift Shop",
    "description": "",
    "short_description": "",
    "address": "5950 Saratoga",
    "website": "",
    "email": "",
    "phone_number": "(361) 985-5000",
    "country": "US",
    "state_province": "TX",
    "city": "Corpus Christi",
    "zip": "78414"
  },
  {
    "title": "Medical Center Hospital - Lori's Gifts",
    "description": "Platinum",
    "short_description": "P",
    "address": "500 W. 4th Street",
    "website": "",
    "email": "",
    "phone_number": "(432) 640-1924",
    "country": "US",
    "state_province": "TX",
    "city": "Odessa",
    "zip": "79761"
  },
  {
    "title": "Seton Medical Center Austin",
    "description": "Platinum",
    "short_description": "P",
    "address": "1201 W 38th St",
    "website": "",
    "email": "",
    "phone_number": "(512) 324-1000 #170",
    "country": "US",
    "state_province": "TX",
    "city": "Austin",
    "zip": "78705"
  },
  {
    "title": "Central Texas Medical Center",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "1301 Wonder World Dr",
    "website": "",
    "email": "",
    "phone_number": "(512) 735-3615",
    "country": "US",
    "state_province": "TX",
    "city": "San Marcos",
    "zip": "78666"
  },
  {
    "title": "Intermountain Healthcare Logan Regional Hospital",
    "description": "Platinum",
    "short_description": "P\t",
    "address": "500 E. 1400 North",
    "website": "",
    "email": "",
    "phone_number": "(435) 716-2560",
    "country": "US",
    "state_province": "UT",
    "city": "Logan",
    "zip": "84341"
  },
  {
    "title": "L.A.C.E By Louise",
    "description": "",
    "short_description": "",
    "address": "344 S 500W #2",
    "website": "",
    "email": "",
    "phone_number": "(801) 294-5223",
    "country": "US",
    "state_province": "UT",
    "city": "Bountiful",
    "zip": "84010"
  },
  {
    "title": "Intermountain Healthcare",
    "description": "Platinum",
    "short_description": "P",
    "address": "331 North 400 West",
    "website": "",
    "email": "",
    "phone_number": "",
    "country": "US",
    "state_province": "UT",
    "city": "Orem",
    "zip": "84057"
  },
  {
    "title": "Intermountain Healthcare",
    "description": "",
    "short_description": "",
    "address": "1440 South 500 West",
    "website": "",
    "email": "",
    "phone_number": "(801)294-0636",
    "country": "US",
    "state_province": "UT",
    "city": "Bountiful",
    "zip": "84010"
  },
  {
    "title": "Intermountain Healthcare",
    "description": "",
    "short_description": "",
    "address": "1333 N Main St Suite 102",
    "website": "",
    "email": "",
    "phone_number": "",
    "country": "US",
    "state_province": "UT",
    "city": "Cedar City",
    "zip": "84721"
  },
  {
    "title": "Intermountain Healthcare",
    "description": "",
    "short_description": "",
    "address": "Fillmore,UT",
    "website": "",
    "email": "",
    "phone_number": "435-743-1790",
    "country": "US",
    "state_province": "UT",
    "city": "Fillmore",
    "zip": "84631"
  },
  {
    "title": "Intermountain Healthcare",
    "description": "",
    "short_description": "",
    "address": "Delta,UT",
    "website": "",
    "email": "",
    "phone_number": "435-864-1581",
    "country": "US",
    "state_province": "UT",
    "city": "Delta",
    "zip": "84624"
  },
  {
    "title": "Intermountain Healthcare",
    "description": "",
    "short_description": "",
    "address": "175 North Main, Ste 104",
    "website": "",
    "email": "",
    "phone_number": "(435)657-4326, (866)657-4323 T",
    "country": "US",
    "state_province": "UT",
    "city": "Heber",
    "zip": "84032"
  },
  {
    "title": "Intermountain Healthcare",
    "description": "",
    "short_description": "",
    "address": "1300 North 200 East, Ste. 106",
    "website": "",
    "email": "",
    "phone_number": "(435)716-5396",
    "country": "US",
    "state_province": "UT",
    "city": "Logan",
    "zip": "84341"
  },
  {
    "title": "Intermountain Healthcare",
    "description": "",
    "short_description": "",
    "address": "154 E Myrtle Ave #103",
    "website": "",
    "email": "",
    "phone_number": "(801) 507-9100",
    "country": "US",
    "state_province": "UT",
    "city": "Murray",
    "zip": "84107"
  },
  {
    "title": "Intermountain Healthcare",
    "description": "",
    "short_description": "",
    "address": "130 West Main",
    "website": "",
    "email": "",
    "phone_number": "",
    "country": "US",
    "state_province": "UT",
    "city": "Mt Pleasant",
    "zip": "84647"
  },
  {
    "title": "Intermountain Healthcare",
    "description": "",
    "short_description": "",
    "address": "4421 South Harrison Blvd, Suite A1​",
    "website": "",
    "email": "",
    "phone_number": "",
    "country": "US",
    "state_province": "UT",
    "city": "Ogden",
    "zip": "84403"
  },
  {
    "title": "Intermountain Healthcare",
    "description": "",
    "short_description": "",
    "address": "289 West 1230 North",
    "website": "",
    "email": "",
    "phone_number": "(801)357-8250;  (800)888-9225 ",
    "country": "US",
    "state_province": "UT",
    "city": "Provo",
    "zip": "84604"
  },
  {
    "title": "Intermountain Healthcare",
    "description": "",
    "short_description": "",
    "address": "70 East 1000 North",
    "website": "",
    "email": "",
    "phone_number": "(435)896-5884",
    "country": "US",
    "state_province": "UT",
    "city": "Richfield",
    "zip": "84701"
  },
  {
    "title": "Intermountain Healthcare",
    "description": "",
    "short_description": "",
    "address": "389 South 900 East, 1st Floor",
    "website": "",
    "email": "",
    "phone_number": "(385)282-2200",
    "country": "US",
    "state_province": "UT",
    "city": "Salt Lake City",
    "zip": "84102"
  },
  {
    "title": "Intermountain Healthcare",
    "description": "",
    "short_description": "",
    "address": "11520 S. Redwood Rd",
    "website": "",
    "email": "",
    "phone_number": "(385)887-7320",
    "country": "US",
    "state_province": "UT",
    "city": "South Jordan",
    "zip": "84095"
  },
  {
    "title": "Intermountain Healthcare",
    "description": "",
    "short_description": "",
    "address": "923 S River Road, #104",
    "website": "",
    "email": "",
    "phone_number": "(435)251-2323",
    "country": "US",
    "state_province": "UT",
    "city": "St. George",
    "zip": "84790"
  },
  {
    "title": "Inova Loudoun Hospital",
    "description": "",
    "short_description": "",
    "address": "44045 Riverside Parkway",
    "website": "",
    "email": "",
    "phone_number": "(703) 858-8911",
    "country": "US",
    "state_province": "VA",
    "city": "Leesburg",
    "zip": "20176"
  },
  {
    "title": "Breastfeeding Center For Greater Washington",
    "description": "Platinum",
    "short_description": "P",
    "address": "4923 Springbrook Drive",
    "website": "",
    "email": "",
    "phone_number": "(703) 978-2000",
    "country": "US",
    "state_province": "VA",
    "city": "Annandale",
    "zip": "22003"
  },
  {
    "title": "Inova Fair Oaks Hospital",
    "description": "",
    "short_description": "",
    "address": "3600 Joseph Siewick Drive",
    "website": "",
    "email": "",
    "phone_number": "(703) 391-3600",
    "country": "US",
    "state_province": "VA",
    "city": "Fairfax",
    "zip": "22033"
  },
  {
    "title": "Alexandria Hospital",
    "description": "Platinum",
    "short_description": "P",
    "address": "4320 Seminary Rd",
    "website": "",
    "email": "",
    "phone_number": "(703) 504-7867",
    "country": "US",
    "state_province": "VA",
    "city": "Alexandria",
    "zip": "22304"
  },
  {
    "title": "Healthsource For Women",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "801 Volvo Parkway",
    "website": "",
    "email": "",
    "phone_number": "(757) 436-3233",
    "country": "US",
    "state_province": "VA",
    "city": "Chesapeake",
    "zip": "23320"
  },
  {
    "title": "BIRTHJOURNEYS",
    "description": "",
    "short_description": "",
    "address": "5741 Cleveland Street",
    "website": "http://birthjourneys.org/",
    "email": "jacqueline@birthjourneys.org",
    "phone_number": "757-615-2933",
    "country": "US",
    "state_province": "VA",
    "city": "Virginia Beach",
    "zip": "23462"
  },
  {
    "title": "Inova Loudoun Hospital ",
    "description": "",
    "short_description": "",
    "address": "44045 Riverside Parkway",
    "website": "",
    "email": "",
    "phone_number": "(703) 858-8911",
    "country": "US",
    "state_province": "VA",
    "city": "Leesburg",
    "zip": "20176"
  },
  {
    "title": "Alexandia Hospital",
    "description": "P",
    "short_description": "P",
    "address": "4320 Seminary Rd",
    "website": "",
    "email": "",
    "phone_number": "(703) 504-7867",
    "country": "US",
    "state_province": "VA",
    "city": "Alexandria ",
    "zip": "22304"
  },
  {
    "title": "Medical Essentials BV",
    "description": "",
    "short_description": "",
    "address": "Industriepark, 2220 Heist-op-den-Berg, Belgium",
    "website": "http://www.medicalessentials.be",
    "email": "info@m-e.be",
    "phone_number": " +32 15 76 12 25",
    "country": "BE",
    "state_province": "VAN",
    "city": "Heist-op-den-Berg",
    "zip": "2220"
  },
  {
    "title": "Pacific Mother'S Support Inc.",
    "description": "Elite/Platinum/SMB",
    "short_description": "E/P/SMB",
    "address": "1407 132Nd Ave N.E.",
    "website": "http://www.pacificmsi.com",
    "email": "",
    "phone_number": "(425) 462-0577",
    "country": "US",
    "state_province": "WA",
    "city": "Bellevue",
    "zip": "98005"
  },
  {
    "title": "Our Perfect Baby",
    "description": "Elite/Platinum",
    "short_description": "E/P",
    "address": "6601 220th Street Southwest #6",
    "website": "http://www.ourperfectbaby.com",
    "email": "",
    "phone_number": "(425) 563-1309",
    "country": "US",
    "state_province": "WA",
    "city": "Mountlake Terrace",
    "zip": "98043"
  },
  {
    "title": "Relicor Drugstore LLC",
    "description": "",
    "short_description": "",
    "address": "146 Street 23 - Industrial AreaIndustrial Area 1 - Sharjah - United Arab Emirates",
    "website": "http://www.relicordrugstore.com/",
    "email": "INFO@RELICORDRUGSTORE.COM",
    "phone_number": " +971 4 2382360",
    "country": "AE",
    "state_province": "",
    "city": "Dubai",
    "zip": ""
  },
  {
    "title": "Dyn Diagnostics Ltd.",
    "description": "",
    "short_description": "",
    "address": "Rotem HaMidbar St 4, Caesarea, Israel",
    "website": "http://www.dyn.co.il",
    "email": "patient.care@dyn.co.il",
    "phone_number": " +972-4-6175390",
    "country": "IL",
    "state_province": "",
    "city": "Israel",
    "zip": "3079504"
  },
  {
    "title": "J.B.Care A/S",
    "description": "",
    "short_description": "",
    "address": "Anelystparken 31b, 8381 Tilst, Denmark",
    "website": "http://www.jbcare.dk",
    "email": "jan@jbcare.dk",
    "phone_number": " +45 70272766",
    "country": "DK",
    "state_province": "",
    "city": "Tilst",
    "zip": "8381"
  },
  {
    "title": "Central Medical Supplies Ltd",
    "description": "",
    "short_description": "",
    "address": "CMS House, Fynney Fields, Brooklands Way, Leek ST13 7QG, UK",
    "website": "http://www.centralmedical.co.uk",
    "email": "info@centralmedical.co.uk",
    "phone_number": " +44 (0)1538 399 541",
    "country": "GB",
    "state_province": "",
    "city": "",
    "zip": "ST13 7QG"
  },
  {
    "title": "Euramedic Pte Ltd",
    "description": "",
    "short_description": "",
    "address": "Unnamed Road, Singapore",
    "website": "http://www.euramedic.com.sg",
    "email": "euramedic@gmail.com",
    "phone_number": " +65 6844 7717",
    "country": "SG",
    "state_province": "",
    "city": "Midview City",
    "zip": "573972"
  },
  {
    "title": " Babymama Inc.",
    "description": "",
    "short_description": "",
    "address": "Basement, Tektite Tower, Pearl Drive cor, Exchange Rd, Ortigas Center, Pasig, Metro Manila, Philippines",
    "website": "http://www.babymama.ph",
    "email": "Miann@babymama.ph",
    "phone_number": " +63 8 2773360/  +63 ",
    "country": "PH",
    "state_province": "",
    "city": "Pasig City",
    "zip": "1605"
  },
  {
    "title": "G.ANANIADIS EE",
    "description": "",
    "short_description": "",
    "address": "Mετρό Νέος Σινδ. Σταθμός, Monastiriou, Thessaloniki 546 29, Greece",
    "website": "http://www.ameda.gr",
    "email": "info@ameda.gr, olympia@ananiadis-medical.gr",
    "phone_number": "0030 2310 200467, 00",
    "country": "GR",
    "state_province": "",
    "city": "THESSALONIKI",
    "zip": "54634"
  },
  {
    "title": "My Breastpump",
    "description": "",
    "short_description": "",
    "address": "16 Pitchford Pl, Northcliff, Randburg, 2115, South Africa",
    "website": "http://www.mybreastpump.co.za",
    "email": "info@mybreastpump.co.za",
    "phone_number": " +24 84 602 4234",
    "country": "ZA",
    "state_province": "",
    "city": "Johannesburg",
    "zip": ""
  },
  {
    "title": "The HomeCare Medical Limited",
    "description": "",
    "short_description": "",
    "address": "No. 2162, Section 3, Zhengda Road, Minxiong Township, Chiayi County, Taiwan 621",
    "website": "http://www.homecare-medical.com",
    "email": "homecare@homecare-medical.com",
    "phone_number": "(852) 2402-2188",
    "country": "HK",
    "state_province": "",
    "city": "Kowloon",
    "zip": ""
  },
  {
    "title": "Surgitech",
    "description": "",
    "short_description": "",
    "address": "",
    "website": "http://www.surgitech.net",
    "email": "mohamed.taha@surgitech.net, sally.medhat@intra.surgitech.net",
    "phone_number": " +202 3762 2092 – 333",
    "country": "EG",
    "state_province": "",
    "city": "Cairo",
    "zip": ""
  },
  {
    "title": "Servicios Prenatal SAC",
    "description": "",
    "short_description": "",
    "address": "",
    "website": "http://www.prenatal.com.pe",
    "email": "melissa.gandrup@prenatal.com.pe",
    "phone_number": "011-511-96-238-2309",
    "country": "PE",
    "state_province": "",
    "city": "Lima",
    "zip": ""
  }
 ] %}
<div class="section section--padding">
  <div class="container">
    <div class="store-locations" id="storeLocationsContainer">
      {% for location in product_locations %}
        <div class="store-location" data-stateprovince="{{ location.state_province }}">
          <div class="location-content">
            <h3 class="store-title h5" {% if location.short_description != blank %}style="padding-right: 3.5rem;"{% endif %}>{{ location.title }}</h3>
            {% if location.short_description != blank %}
              <span class="short-desc">{{ location.short_description }}</span>
            {% endif %}
            {% if location.description != blank %}
              <p>
                {{ location.description }}
              </p>
            {% endif %}
            {% if location.address != blank %}
              <p class="mb-0">
                {{ location.address }}
              </p>
            {% endif %}
            {% if location.city != blank %}
              <p class="mb-0">
                {{ location.city }}
              </p>
            {% endif %}
            {% if location.state != blank %}
              <p class="mb-0">
                {{ location.state }}
              </p>
            {% endif %}
            {% if location.zip != blank %}
              <p class="mb-0">
                {{ location.zip }}
              </p>
            {% endif %}
            {% if location.country != blank %}
              <p class="mb-0">
                {{ location.country }}
              </p>
            {% endif %}
          </div>
          <div class="location-content">
            {% if location.email != blank %}
              <a class="link-with-icon btn btn--primary" href="mailto:{{ location.email }}">
                {% render 'icon-mail' %} {{ location.email }}
              </a>
            {% endif %}
            {% if location.phone_number != blank %}
              <a class="link-with-icon btn btn--primary" href="tel:{{ location.phone_number }}">
                {% render 'icon-phone' %} {{ location.phone_number }}
              </a>
            {% endif %}
            {% if location.website != blank %}
              <a class="link-with-icon btn btn--primary" target="_blank" href="{{ location.website }}">
                {% render 'icon-link' %} Visit Website
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Get the container element
    var container = document.getElementById("storeLocationsContainer");

    // Get all the store location elements
    var storeLocations = container.querySelectorAll(".store-location");

    // Convert the NodeList to an array
    var storeLocationsArray = Array.from(storeLocations);

    // Sort the store locations by state_province attribute
    storeLocationsArray.sort(function (a, b) {
      var stateA = a.getAttribute("data-stateprovince").toUpperCase();
      var stateB = b.getAttribute("data-stateprovince").toUpperCase();
      if (stateA < stateB) {
        return -1;
      }
      if (stateA > stateB) {
        return 1;
      }
      return 0;
    });

    // Clear the container
    container.innerHTML = "";

    // Append the sorted store locations back to the container
    storeLocationsArray.forEach(function (location) {
      container.appendChild(location);
    });
  });
</script>

{% schema %}
{
  "name": "Product Locator",
  "presets": [
    {
      "name": "Product Locator",
      "category": "Custom"
    }
  ]
}
{% endschema %}