<link rel="stylesheet" href="{{ 'store-locator.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="section section--padding">
  <div class="container">
    <p class="text-center h4">E is for Elites, P is for Platinums. Other is everything else.</p>
    <ul class="state-selector" id="stateList">
      <li><strong>FIND BY STATE:</strong></li>
    </ul>
  </div>
</div>

<div class="section section--padding">
  <div class="container">
    <div class="store-locations">
      {% for block in section.blocks %}
        <div class="store-location">
          <div class="location-content">
            <h3 class="store-title h5">{{ block.settings.title }}</h3>
            {% if block.settings.short_description != blank %}
              <span class="short-desc">{{ block.settings.short_description }}</span>
            {% endif %}
            <p class="mb-0">
              {% if block.settings.address %}{{ block.settings.address }}{% endif %}
              {% if block.settings.city %} {{ block.settings.city }}{% endif %},
              {% if block.settings.state_province %} {{ block.settings.state_province }}{% endif %}
              {% if block.settings.zip %} {{ block.settings.zip }}{% endif %}
              {% if block.settings.country %} {{ block.settings.country }}{% endif %}
            </p>
          </div>
          <div class="location-content">
            {% if block.settings.email %}
              <a class="link-with-icon btn btn--primary" href="mailto:{{ block.settings.email }}">
                {% render 'icon-mail' %} {{ block.settings.email }}
              </a>
            {% endif %}
            {% if block.settings.phone_number %}
              <a class="link-with-icon btn btn--primary" href="tel:{{ block.settings.phone_number }}">
                {% render 'icon-phone' %} {{ block.settings.phone_number }}
              </a>
            {% endif %}
            {% if block.settings.website %}
              <a class="link-with-icon btn btn--primary" target="_blank" href="{{ block.settings.website }}">
                {% render 'icon-link' %} Visit Website
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Product Locator",
  "presets": [
    {
      "name": "Product Locator",
      "category": "Custom"
    }
  ],
  "blocks": [
    {
      "type": "product_location",
      "name": "Product Location",
      "settings": [
        {
          "type": "text",
          "label": "Title",
          "id": "title",
          "default": "Default Title"
        },
        {
          "type": "textarea",
          "label": "Short Description",
          "id": "short_description",
          "default": "Default Short Description"
        },
        {
          "type": "text",
          "label": "Address",
          "id": "address",
          "default": "Default Address"
        },
        {
          "type": "text",
          "label": "City",
          "id": "city",
          "default": "Default City"
        },
        {
          "type": "text",
          "label": "State/Province",
          "id": "state_province",
          "default": "Default State/Province"
        },
        {
          "type": "text",
          "label": "ZIP",
          "id": "zip",
          "default": "Default ZIP"
        },
        {
          "type": "text",
          "label": "Country",
          "id": "country",
          "default": "Default Country"
        },
        {
          "type": "text",
          "label": "Email",
          "id": "email",
          "default": "Default Email"
        },
        {
          "type": "text",
          "label": "Phone Number",
          "id": "phone_number",
          "default": "Default Phone Number"
        },
        {
          "type": "url",
          "label": "Website",
          "id": "website"
        }
      ]
    }
  ]
}
{% endschema %}

    