<link rel="stylesheet" href="{{ 'store-locator.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="section section--padding">
  <div class="container">
    <p class="text-center h4">E is for Elites, P is for Platinums. Other is everything else.</p>
    <ul class="state-selector" id="stateList">
      <li><strong>FIND BY STATE:</strong></li>
      {% assign unique_states = '' | split: ',' %}
      {% for block in section.blocks %}
        {% assign state_province = block.settings.state_province %}
        {% unless unique_states contains state_province %}
          <li class="state-link"><span>{{ state_province }}</span></li>
          {% assign unique_states = unique_states | join: ',' | append: ',' | append: state_province | split: ',' %}
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="section section--padding">
  <div class="container">
    <div class="store-locations">
      {% for block in section.blocks | sort: 'block.settings.state_province' %}
        <div class="store-location" data-stateprovince="{{ block.settings.state_province }}">
          <div class="location-content">
            <h3 class="store-title h5" {% if block.settings.short_description != blank %}style="padding-right: 3.5rem;"{% endif %}>{{ block.settings.title }}</h3>
            {% if block.settings.short_description != blank %}
              <span class="short-desc">{{ block.settings.short_description }}</span>
            {% endif %}
            {% if block.settings.address != blank %}
              <p class="mb-0">
                {{ block.settings.address }}
              </p>
            {% endif %}
          </div>
          <div class="location-content">
            {% if block.settings.email != blank %}
              <a class="link-with-icon btn btn--primary" href="mailto:{{ block.settings.email }}">
                {% render 'icon-mail' %} {{ block.settings.email }}
              </a>
            {% endif %}
            {% if block.settings.phone_number != blank %}
              <a class="link-with-icon btn btn--primary" href="tel:{{ block.settings.phone_number }}">
                {% render 'icon-phone' %} {{ block.settings.phone_number }}
              </a>
            {% endif %}
            {% if block.settings.website != blank %}
              <a class="link-with-icon btn btn--primary" target="_blank" href="{{ block.settings.website }}">
                {% render 'icon-link' %} Visit Website
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Product Locator",
  "presets": [
    {
      "name": "Product Locator",
      "category": "Custom"
    }
  ],
  "blocks": [
    {
      "type": "product_location",
      "name": "Product Location",
      "settings": [
        {
          "type": "text",
          "label": "Title",
          "id": "title",
          "default": "Default Title"
        },
        {
          "type": "text",
          "label": "Short Description",
          "id": "short_description",
          "default": "?"
        },
        {
          "type": "richtext",
          "label": "Address",
          "id": "address",
          "default": "<p>Default Address</p>"
        },
        {
          "type": "text",
          "label": "State / Province",
          "id": "state_province"
        },
        {
          "type": "text",
          "label": "Email",
          "id": "email",
          "default": "email@example.com"
        },
        {
          "type": "text",
          "label": "Phone Number",
          "id": "phone_number",
          "default": "(555) 555-5555"
        },
        {
          "type": "url",
          "label": "Website",
          "id": "website"
        }
      ]
    }
  ]
}
{% endschema %}