<div class="section section--padded social-posts">
    <div class="container text-center">
        <span class="h5">{{ section.settings.subtitle }}</span>
        <h2 class="{% if section.settings.content %}{{ 'mb-0' }}{% endif %}">{{ section.settings.title }}</h2>
        {%- if section.settings.content -%}<p class="enlarge-text mb-10">{{ section.settings.content }}</p>{%- endif -%}
        <div class="pt-6">{{ section.settings.embed_code }}</div>
        <div class="flex justify-center">{% include 'social-media' %}</div>
    </div>
</div>

{% schema %}
    {
      "name": "Social Posts",
      "settings": [
        {
          "type": "text",
          "label": "Subtitle",
          "id": "subtitle",
          "default": "Default Subtitle"
        },
        {
          "type": "text",
          "label": "Title",
          "id": "title",
          "default": "Default Title"
        },
        {
          "type": "text",
          "label": "Content",
          "id": "content",
          "default": "Lorem ipsum dolor sit amet"
        },
        {
          "type": "textarea",
          "label": "Embed Code",
          "id": "embed_code",
          "default": "<iframe src=''></iframe>"
        }
      ],
      "presets": [
        {
          "name": "Social Posts",
          "category": "Custom",
          "settings": {
            "subtitle": "Custom Subtitle",
            "title": "Custom Title",
            "embed_code": "<iframe width='560' height='315' src='https://www.youtube.com/embed/dQw4w9WgXcQ?si=XHIzHYHLjn2nTmar' allowfullscreen></iframe>"
          }
        }
      ]
    }
{% endschema %}