<link rel="stylesheet" href="{{ 'store-locator.css' | asset_url }}" media="print" onload="this.media='all'">

<div class="section section--padding">
  <div class="container">
    <p class="text-center h4">E is for Elites, P is for Platinums. Other is everything else.</p>
    <ul class="state-selector" id="stateList">
      {% assign state_provinces = shop.metaobjects.store_location.values | map: 'state_province' %}
      {% assign unique_sorted_states = state_provinces | uniq | sort %}
      {% for state in unique_sorted_states %}
        {% if state != blank %}
          <li class="state-link"><a href="#{{ state }}">{{ state }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>


<div class="section section--padding">
  <div class="container">
    <div class="store-locations">
      {% assign sorted_store_locations = shop.metaobjects.store_location.values | sort: 'state_province' %}
      {% assign states_processed = "" | split: "," %}

      {% for store_location in sorted_store_locations %}
        <div class="store-location" {% if states_processed contains store_location.state_province == false %} id="{{ store_location.state_province }}" {% assign states_processed = states_processed | push: store_location.state_province %} {% endif %}>
          <h3 class="h5">{{ store_location.title }}</h3>
          
          {% if store_location.short_description %}
            <p><strong>Short Description:</strong> {{ store_location.short_description }}</p>
          {% endif %}
          
          {% if store_location.website %}
            <p><strong>Website:</strong> <a target="_blank" href="{{ store_location.website }}">{{ store_location.website }}</a></p>
          {% endif %}
          
          {% if store_location.address %}
            <p><strong>Address:</strong> {{ store_location.address }}</p>
          {% endif %}
          
          {% if store_location.city %}
            <p><strong>City:</strong> {{ store_location.city }}</p>
          {% endif %}
          
          {% if store_location.state_province %}
            <p><strong>State / Province:</strong> <span state="{{ store_location.state_province }}">{{ store_location.state_province }}<span></p>
          {% endif %}
          
          {% if store_location.country %}
            <p><strong>Country:</strong> {{ store_location.country }}</p>
          {% endif %}
          
          {% if store_location.zip %}
            <p><strong>Zip:</strong> {{ store_location.zip }}</p>
          {% endif %}
          
          {% if store_location.email %}
            <p><a class="btn btn--primary" href="mailto:{{ store_location.email }}">{{ store_location.email }}</a></p>
          {% endif %}
          
          {% if store_location.phone_number %}
            <p class="m-0"><a class="btn btn--primary" href="tel:{{ store_location.phone_number }}">{{ store_location.phone_number }}</a></p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Locations",
  "presets": [
    {
      "name": "Locations",
      "category": "Template"
    }
  ]
}
{% endschema %}