<link rel="stylesheet" href="{{ 'store-locator.css' | asset_url }}" media="print" onload="this.media='all'">
{% assign locations = shop.metaobjects.store_locations["all-locations"].all.value %}

<div class="section section--padding">
  <div class="container">
    <p class="text-center h4">E is for Elites, P is for Platinums. Other is everything else.</p>
    <ul class="state-selector" id="stateList">
      <li><strong>FIND BY STATE / PROVINCE:</strong></li>
      {% assign state_provinces = locations | map: 'state_province' %}
      {% assign unique_sorted_states = state_provinces | uniq | sort %}
      {% for state in unique_sorted_states %}
        {% if state != blank %}
          <li class="state-link"><a href="#{{ state }}">{{ state }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

<div class="section section--padding">
  <div class="container">
    <div class="store-locations">
      {% assign current_state = '' %}
        {% for store_location in locations %}
          <div class="store-location" 
               id="{% if current_state != store_location.state_province %}
                     {% assign current_state = store_location.state_province %}
                     {{ store_location.state_province }}
                   {% endif %}">
            <div class="location-content">
                <h3 class="store-title h5" {% if store_location.short_description != blank %}style="padding-right: 3.5rem;"{% endif %}>{{ store_location.title }}</h3>
            
                {% if store_location.short_description.value != blank %}
                  <span class="short-desc">{{ store_location.short_description }}</span>
                {% endif %}
                
                <p class="mb-0">
                  {% if store_location.address != blank %}{{ store_location.address }}{% endif %}
                  {% if store_location.city != blank %} {{ store_location.city }}{% endif %},
                  <br>
                  {% if store_location.state_province != blank %} {{ store_location.state_province }}{% endif %}
                  {% if store_location.zip != blank %} {{ store_location.zip }}{% endif %}
                  {% if store_location.country != blank %} {{ store_location.country }}{% endif %}
                </p>
            </div>
        
            <div class="location-content">
              {% if store_location.email != blank %}
                {% for email_address in store.location.email.value %}
                  <a class="link-with-icon btn btn--primary" href="mailto:{{ email_address }}">{% render 'icon-mail' %} {{ email_address }}</a>
                {% endfor %}
              {% endif %}
            
              {% if store_location.phone_number != blank %}
                <a class="link-with-icon btn btn--primary" href="tel:{{ store_location.phone_number }}">{% render 'icon-phone' %} {{ store_location.phone_number }}</a>
              {% endif %}
        
              {% if store_location.website != blank %}
                <a class="link-with-icon btn btn--primary" target="_blank" href="{{ store_location.website }}">{% render 'icon-link' %} Visit Website</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Locations",
  "presets": [
    {
      "name": "Locations",
      "category": "Template"
    }
  ]
}
{% endschema %}