{%- liquid
  assign color_scheme = section.settings.color_scheme
  assign bg_color = false

  if color_scheme == '1'
    assign bg_color = settings.color_scheme_1_bg
  elsif color_scheme == '2'
    assign bg_color = settings.color_scheme_2_bg
  elsif color_scheme == '3'
    assign bg_color = settings.color_scheme_3_bg
  endif

  if bg_color == settings.bg_color or bg_color == 'rgba(0,0,0,0)'
    assign bg_color = false
  endif
-%}

<div class="section relative section--full-width{% unless section.settings.section_height == "tight" %} section--padded-{{ section.settings.section_height }}{% endunless %}{% if section.settings.dividers != "none" %} {{ section.settings.dividers }}{% endif %}{% unless color_scheme == 'none' %} color-scheme color-scheme--{{ color_scheme }}{% endunless %}{% if section.settings.baby_patterns == true %} baby-pattern{% endif %}" id="timed-section" style="display: none;" {% if settings.animations_enabled != "disabled" and section.settings.prevent_animation == false %} data-cc-animate{% endif %}>
  {%- unless section.settings.full_width -%}
    <div class="container">
  {%- endunless -%}

  {{- section.settings.custom_liquid -}}

  {%- unless section.settings.full_width -%}
    </div>
  {%- endunless -%}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Get the target ISO 8601 start and end dates from Shopify settings
    var isoStartDateTime = "{{ section.settings.iso_start_date_time }}";
    var isoEndDateTime = "{{ section.settings.iso_end_date_time }}";
    
    // Parse the target dates
    var startDate = new Date(isoStartDateTime);
    var endDate = new Date(isoEndDateTime);
    var currentDate = new Date();

    // Check if the current date is within the range of start and end dates
    if (currentDate >= startDate && currentDate <= endDate) {
      // Show the section
      document.getElementById('timed-section').style.display = 'block';
    }
  });
</script>

{% schema %}
{
  "name": "Custom HTML/Liquid",
  "tag": "section",
  "class": "cc-custom-liquid",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom code",
      "default": "Add HTML or Liquid code to create advanced customizations."
    },
    {
      "type": "text",
      "id": "iso_start_date_time",
      "label": "ISO 8601 Start Date/Time",
      "info": "Enter the start date and time in ISO 8601 format to start displaying this section. Example: 2024-10-03T15:00:00Z"
    },
    {
      "type": "text",
      "id": "iso_end_date_time",
      "label": "ISO 8601 End Date/Time",
      "info": "Enter the end date and time in ISO 8601 format to stop displaying this section. Example: 2024-10-05T15:00:00Z"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "label": "Section height",
      "id": "section_height",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "tight",
          "label": "Tight"
        },
        {
          "value": "xsmall",
          "label": "Extra small"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        }
      ],
      "default": "default"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Make section full width",
      "default": false
    },
    {
      "type": "select",
      "id": "dividers",
      "label": "Dividing lines",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "border-top",
          "label": "Above"
        },
        {
          "value": "border-bottom",
          "label": "Below"
        },
        {
          "value": "border-top border-bottom",
          "label": "Above and below"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "none",
          "label": "Default"
        },
        {
          "value": "1",
          "label": "Scheme 1"
        },
        {
          "value": "2",
          "label": "Scheme 2"
        },
        {
          "value": "3",
          "label": "Scheme 3"
        }
      ],
      "default": "none"
    },
    {
      "type": "checkbox",
      "id": "baby_patterns",
      "label": "Baby Pattern",
      "default": false
    },
    {
      "type": "header",
      "content": "SEO"
    },
    {
      "type": "checkbox",
      "id": "prevent_animation",
      "label": "Load the section without animation",
      "info": "If this section is visible when the page loads, enabling this setting can reduce CLS and may improve site speed scores. [Read more](https://cleancanvas.co.uk/support/enterprise/performance-guide)",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Custom HTML/Liquid"
    }
  ],
  "disabled_on": {
    "groups": [
      "aside"
    ]
  }
}
{% endschema %}
